//
// Component: Accordion
//
// ========================================================================


// Variables
// ========================================================================
@internal-accordion-open-image:                "../images/backgrounds/accordion-open.svg";
@internal-accordion-close-image:               "../images/backgrounds/accordion-close.svg";

//
// New
//

@accordion-icon-color:                         @global-color;


// Component
// ========================================================================

.hook-accordion() {}


// Item
// ========================================================================

.hook-accordion-item() {}


// Title
// ========================================================================

.hook-accordion-title() {
	font-weight: 500;
}


// Content
// ========================================================================

.hook-accordion-content() {}


// Miscellaneous
// ========================================================================

.hook-accordion-misc() {
	.uk-accordion > :nth-child(n+2) {
		margin-top: 15px;
	}
}

// Inverse
// ========================================================================

.hook-inverse-accordion-item() {}

.hook-inverse-accordion-title() {}

.hook-inverse() {}
