//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-padding:                              25px;
@dropdown-background:                           @global-background;
@dropdown-min-width:                            220px;
//
// New
//

@dropdown-nav-font-size:                        @global-small-font-size;

@dropdown-box-shadow:                           0 5px 12px rgba(100,100,100, 0.15);


// Component
// ========================================================================

.hook-dropdown() { 
	box-shadow: @dropdown-box-shadow;     
	background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 3px; 
}


// Nav
// ========================================================================

.hook-dropdown-nav() { font-size: @dropdown-nav-font-size; }

.hook-dropdown-nav-item() {}

.hook-dropdown-nav-item-hover() {}

.hook-dropdown-nav-header() {}

.hook-dropdown-nav-divider() {}


// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {
	// Custom navbar style
	.tm-header {
		.uk-navbar-dropdown:not(.uk-navbar-dropdown-dropbar) {
			.sub-dropdown {
			    position: relative;
			    > ul {
			    	border-radius: 3px;
			        opacity: 0;
			        visibility: hidden;
			        position: absolute;
			        width: @dropdown-min-width;
			        background: @dropdown-background;
			        left: 100%;
			        padding: @dropdown-padding !important;
			        top: 0;
			        transform: translateY(15px);
			        border-top: none;
			        box-shadow: @dropdown-box-shadow;
			        box-sizing: border-box;
			        font-size: inherit !important;
			        z-index: 10;
			        margin-top: -15px;
			        &.uk-nav-sub a {
			        	padding: 5px 0;
			        	font-size: @dropdown-nav-font-size + 0.015rem;
			        }
			    }
			    &:hover {
			        > ul {
			            opacity: 1;
			            visibility: visible;
			            transform: translateY(-5px);
			        	transition: all 0.4s cubic-bezier(0, 0.89, 0.58, 1);
			        }
			    }

			    &.dropdown-classic-left {
			    	> ul {
			    		left: auto;
			    		right: 100%;
			    	}
			    }
			}
			&.uk-dropdown-boundary {
				.uk-navbar-dropdown-nav {
					> li.uk-parent {
						> a {
							font-weight: 600;
						}
					}
				}
				&.uk-dropdown {
					padding: 35px;
				}
			}
		}

		.uk-navbar-dropdown {
			ul.uk-navbar-dropdown-nav {
				li {
		        	&.uk-parent > a {
		        		position: relative;
	        			&:after {
			        	    content: '';
			        	    display: block;
			        	    position: absolute;
			        	    bottom: calc(50% - 5px);
			        	    height: 3px;
			        	    right: 0;
			        	    background-color: @global-link-color;
			        	    width: 3px;
			        	}
			        }
			        &.uk-active > a {
			        	position: relative;
			        	&:after {
			        	    content: '';
			        	    display: block;
			        	    position: absolute;
			        	    bottom: calc(50% - 5px);
			        	    height: 2px;
			        	    right: 0;
			        	    background-color: @global-link-color;
			        	    width: 10px;
			        	}
			        }
				}
				ul {
			        li {
				        &.uk-active a {
							color: @dropdown-nav-item-hover-color;
							position: relative;
							&:after {
							    content: '';
							    display: block;
							    position: absolute;
							    bottom: calc(50% - 5px);
							    height: 2px;
							    right: 0;
							    background-color: @global-link-color;
							    width: 10px;
							}
				        }
				        a:hover {
				        	color: @dropdown-nav-item-hover-color;
				        }
			        }
				}
			}
		    ul.uk-navbar-dropdown-nav {
		    	> li {
		    		> a {
		    			font-size: @dropdown-nav-font-size + 0.015rem;
			    		//font-weight: 600;
			    	}
			    	> a.seperator {
			    		font-weight: 700;
			    	}
			    	ul {
			    		line-height: 2;
			    		&.uk-nav-sub {
				    		padding-left: 0;
				    	}
				    }
			    }
		    }
		}

		.uk-navbar-dropdown-dropbar {
			padding: @dropdown-padding - 10;
		    margin-bottom: @dropdown-padding - 10;
		    box-shadow: none;
		}
	}
	.tm-header-mobile {
		.sub-dropdown {
		    > ul {
				margin-left: 5px;
		    }
		}
	}

	.uk-navbar-dropbar {
		.uk-navbar-dropdown {
			background-color: transparent !important;
		}
	}
}