//
// Component: List
//
// ========================================================================


// Variables
// ========================================================================
@internal-list-bullet-image:                    "../images/backgrounds/list-bullet.svg";


//
// New
//

@list-striped-border-width:                     @global-border-width;
@list-striped-border:                           @global-border;


// Style modifiers
// ========================================================================

.hook-list-divider() {}

.hook-list-striped() { border-bottom: @list-striped-border-width solid @list-striped-border; }

.hook-list-bullet() {}


// Miscellaneous
// ========================================================================

.hook-list-misc() {

    .uk-list-striped > li:first-child { border-top: @list-striped-border-width solid @list-striped-border; }

}


// Inverse
// ========================================================================

.hook-inverse-list-divider() {}
.hook-inverse-list-striped() {

    &:first-child { border-top-color: @inverse-global-border; }

    border-bottom-color: @inverse-global-border;

}
.hook-inverse-list-bullet() {}