//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================

@navbar-nav-item-color:                         @global-color;
@navbar-background:                             #fff;

@navbar-nav-item-font-size:                     @global-small-font-size;

@navbar-dropdown-margin:                        15px;
@navbar-dropdown-padding:                       25px;
@navbar-dropdown-background:                    #fff;
@navbar-dropdown-grid-gutter-horizontal:        (@navbar-dropdown-padding * 2);

@internal-navbar-toggle-image:                  "../images/components/navbar-toggle.svg";

//
// New
//

@navbar-nav-item-text-transform:                uppercase;

@navbar-dropdown-nav-font-size:                 @global-small-font-size;

@navbar-dropdown-box-shadow:                    0 5px 12px rgba(0,0,0,0.15);

@navbar-dropdown-grid-divider-border-width:     @global-border-width;
@navbar-dropdown-grid-divider-border:           @navbar-dropdown-nav-divider-border;


// Component
// ========================================================================

.hook-navbar() {}


// Container
// ========================================================================

.hook-navbar-container() {}


// Nav
// ========================================================================

.hook-navbar-nav-item() {
    text-transform: @navbar-nav-item-text-transform;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    position: relative;
}

.hook-navbar-nav-item-hover() {}

.hook-navbar-nav-item-onclick() {}

.hook-navbar-nav-item-active() {}


// Item
// ========================================================================

.hook-navbar-item() {}


// Toggle
// ========================================================================

.hook-navbar-toggle() {}

.hook-navbar-toggle-hover() {}

.hook-navbar-toggle-icon() {}

.hook-navbar-toggle-icon-hover() {}


// Subtitle
// ========================================================================

.hook-navbar-subtitle() {}


// Style modifiers
// ========================================================================

.hook-navbar-transparent() {}

.hook-navbar-sticky() {
    box-shadow: rgba(0, 0, 0, 0.0666667) 0px 3px 12px;
}


// Dropdown
// ========================================================================

.hook-navbar-dropdown() { box-shadow: @navbar-dropdown-box-shadow; }

.hook-navbar-dropdown-dropbar() { box-shadow: none; }


// Dropdown nav
// ========================================================================

.hook-navbar-dropdown-nav() { font-size: @navbar-dropdown-nav-font-size; }

.hook-navbar-dropdown-nav-item() {}

.hook-navbar-dropdown-nav-item-hover() {}
.hook-navbar-dropdown-nav-item-active() {}
.hook-navbar-dropdown-nav-header() {}

.hook-navbar-dropdown-nav-divider() {}


// Dropbar
// ========================================================================

.hook-navbar-dropbar() {
    box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.05), 0 7px 10px rgba(0, 0, 0, 0.1);
}


// Miscellaneous
// ========================================================================

.hook-navbar-misc() {

    .tm-header.uk-light {
        .uk-navbar-nav>li.uk-active>a::after {
            background-color: #fff;
        }
    }
    .tm-header:not(.uk-light) {
       .uk-navbar-nav>li.uk-active>a::after {
           background-color: @global-link-color;
       } 
    }
    // Navbar style 1 and 3
    .navbar-style1, .navbar-style3 {
        .uk-navbar {
            .uk-navbar-nav {
                > li {
                    > a {                
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            height: 2px;
                            background-color: transparent;
                            -webkit-transition: .15s cubic-bezier(0, 0.75, 0.43, 1);
                            transition: .1s cubic-bezier(0, 0.75, 0.43, 1);
                            -webkit-transition-property: background-color,opacity,transform;
                            transition-property: background-color,opacity,transform;
                            left: 0;
                            right: 0;
                            margin: 0 15px;
                            opacity: 1;
                            -webkit-transform: scale3d(0, 1, 1);
                            transform: scale3d(0, 1, 1);
                        }
                    }
                    &.uk-active {
                        > a {
                            &::before {
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                                opacity: 1;
                                background-color: @global-link-color;
                            }
                        }
                    }
                    &:hover{
                        > a {
                            &::before {
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                                opacity: 1;
                                background-color: @global-link-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-style1 .uk-navbar .uk-navbar-nav > li > a::before { top: 20px; }
    //.gecko.navbar-style1 .uk-navbar .uk-navbar-nav > li > a::before { margin-top: -30px; }
    .navbar-style3 .uk-navbar .uk-navbar-nav > li > a::before { top: 0px; }
    // Navbar style 2 and 4 
    .navbar-style2, .navbar-style4 {
        .uk-navbar {
            .uk-navbar-nav {
                > li {
                    > a {                
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            height: 2px;
                            background-color: transparent;
                            -webkit-transition: .15s cubic-bezier(0, 0.75, 0.43, 1);
                            transition: .1s cubic-bezier(0, 0.75, 0.43, 1);
                            -webkit-transition-property: background-color,opacity,transform;
                            transition-property: background-color,opacity,transform;
                            left: 0;
                            right: 0;
                            margin: 0 15px;
                            opacity: 1;
                            -webkit-transform: scale3d(0, 1, 1);
                            transform: scale3d(0, 1, 1);
                        }
                    }
                    &.uk-active {
                        > a {
                            &::after {
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                                opacity: 1;
                                background-color: @global-link-color;
                            }
                        }
                    }
                    &:hover{
                        > a {
                            &::after {
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                                opacity: 1;
                                background-color: @global-link-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-style2 .uk-navbar .uk-navbar-nav > li > a::after { bottom: 20px; }
    .navbar-style4 .uk-navbar .uk-navbar-nav > li > a::after { bottom: 0px; }


    .navbar-style5 {
        .uk-navbar {
            .uk-navbar-nav {
                > li {
                    > a {                
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            height: 8px;
                            background-color: transparent;
                            -webkit-transition: 0.25s cubic-bezier(0, 0.75, 0.43, 1);
                            transition: 0.25s cubic-bezier(0, 0.75, 0.43, 1);
                            -webkit-transition-property: background-color,opacity,transform;
                            transition-property: background-color,opacity,transform;
                            left: 0;
                            right: 0;
                            margin: 0 10px;
                            opacity: 1;
                            -webkit-transform: scale3d(0, 1, 1);
                            transform: scale3d(0, 1, 1);
                            z-index: -1;
                            transform-origin: left;
                        }
                    }
                    &.uk-active {
                        > a {
                            &::after {
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                                opacity: 1;
                            }
                        }
                    }
                    &:hover{
                        > a {
                            &::after {
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                                opacity: 1;
                                background-color: @global-link-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

 .uk-navbar {
    .uk-navbar-nav {
        > li.tm-center-logo {
            > a {                
                &::after, &::before {
                    content: none;
                }
            }
        }
    }
}


.hook-navbar-dropdown-dropbar() {
    .uk-navbar-dropdown-dropbar {
        margin-bottom: 30px;
        box-shadow: none;
    }
}


// Inverse
// ========================================================================

.hook-inverse-navbar-nav-item() {}
.hook-inverse-navbar-nav-item-hover() {}
.hook-inverse-navbar-nav-item-onclick() {}
.hook-inverse-navbar-nav-item-active() {}

.hook-inverse-navbar-item() {}

.hook-inverse-navbar-toggle() {}
.hook-inverse-navbar-toggle-hover() {}