//
// Component: Off-canvas
//
// ========================================================================


// Variables
// ========================================================================


// Overlay
// ========================================================================

.hook-offcanvas-overlay() {}


// Bar
// ========================================================================

.hook-offcanvas-bar() {
	background-color: #4e3b47;
}


// Miscellaneous
// ========================================================================

.hook-offcanvas-misc() {
	
	.uk-offcanvas {
		.uk-nav {
			li {
				a {
					color: #a999a3;
					&:focus {
						color: #fff;
					}
				}
				&.uk-active {
					> a {
						color: #fff;
					}			
				}
			}
		}
		.uk-button {
			width: 100%;
		}
	}
}