//
// Component: Overlay
//
// ========================================================================


// Variables
// ========================================================================
@internal-overlay-image:                        "../images/components/overlay.svg";

// Component
// ========================================================================

.hook-overlay() {}

// Icon
// ========================================================================

.hook-overlay-icon() {}


// Style modifiers
// ========================================================================

.hook-overlay-default() {}

.hook-overlay-primary() {}


// Miscellaneous
// ========================================================================

.hook-overlay-misc() {
	.uk-overlay-gradient {
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 40%, rgba(255, 255, 255, 1) 100%);
        pointer-events: none;
	}
}