//
// Component: Pagination
//
// ========================================================================


// Variables
// ========================================================================
@internal-pagination-next-image:                "../images/components/pagination-next.svg";
@internal-pagination-previous-image:            "../images/components/pagination-previous.svg";

// Component
// ========================================================================
// 

.pagination-wrapper {
  text-align: center;
  margin-top: 55px;
  border-top: 1px solid rgba(100, 100, 100, 0.15);
  padding-top: 55px;
}
.pagination-wrapper .uk-flex-center {
  margin-bottom: 0;
}

.hook-pagination() {}


// Items
// ========================================================================

.hook-pagination-item() {
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
    background-color: @global-link-color;
    height: 45px;
    box-sizing: border-box;
    border-radius: @border-rounded-border-radius;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    color: #fff;
}

.hook-pagination-item-hover() {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: @global-link-hover-color;
  color: #fff;
}

.hook-pagination-item-active() {
	font-weight: 700;
  color: #fff;
}

.hook-pagination-item-disabled() {}


// Miscellaneous
// ========================================================================

.hook-pagination-misc() {}


// Inverse
// ========================================================================

.hook-inverse-pagination-item() {}
.hook-inverse-pagination-item-hover() {}
.hook-inverse-pagination-item-active() {}
.hook-inverse-pagination-item-disabled() {}