//
// Component: Slidenav
//
// ========================================================================


// Variables
// ========================================================================
@internal-slidenav-previous-image:              "../images/components/slidenav-previous.svg";
@internal-slidenav-next-image:                  "../images/components/slidenav-next.svg";
@internal-slidenav-large-previous-image:        "../images/components/slidenav-large-previous.svg";
@internal-slidenav-large-next-image:            "../images/components/slidenav-large-next.svg";

// Component
// ========================================================================

.hook-slidenav() {
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.hook-slidenav-hover() {}

.hook-slidenav-active() {}


// Icon modifier
// ========================================================================

.hook-slidenav-previous() {}

.hook-slidenav-next() {}


// Container
// ========================================================================

.hook-slidenav-container() {}


// Miscellaneous
// ========================================================================

.hook-icon-misc() {}


// Inverse
// ========================================================================

.hook-inverse-slidenav() {}
.hook-inverse-slidenav-hover() {}
.hook-inverse-slidenav-active() {}