//
// Component: Totop
//
// ========================================================================


// Variables
// ========================================================================
@internal-totop-image:                          "../images/components/arrow-up.svg";

// Component
// ========================================================================

.hook-totop() {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: block;
    z-index: 99;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
}

.hook-totop-hover() {
    box-shadow: 0 0 0 5px rgba(red(@global-link-color), green(@global-link-color), blue(@global-link-color), 0.15);
}

.hook-totop-active() {}


// Miscellaneous
// ========================================================================
.hook-totop-misc() {
    .uk-totop.uk-light {
        &:hover, &:focus {
            color: #fff;
        }
    }
}
.hook-icon-misc() {
    .uk-totop.totop-show {
        transform: translateY(0px);
        opacity: 1;
    }
}


// Inverse
// ========================================================================

.hook-inverse-totop() {}
.hook-inverse-totop-hover() {}
.hook-inverse-totop-active() {}