//
// Component: Utility
//
// ========================================================================


// Variables
// ========================================================================

@border-rounded-border-radius:                  3px;

// Panel
// ========================================================================

.hook-panel-scrollable() {}


// Drop cap
// ========================================================================

.hook-dropcap() {
    // Prevent line wrap
    margin-bottom: -2px;
}


// Logo
// ========================================================================

.hook-logo() {}

.hook-logo-hover() {}


// Miscellaneous
// ========================================================================

.hook-utility-misc() {}


// Inverse
// ========================================================================

.hook-inverse-dropcap() {}

.hook-inverse-logo() {}
.hook-inverse-logo-hover() {}

// Box Shadow

[class*='uk-box-shadow-hover'] {
	transition: all 0.3s cubic-bezier(0, 0.53, 0.12, 1.01);
	&:hover {
		transform: translateY(-3px);
	}
}

// Special box shadow
body:not([class*="header-mode-side-"]) {
	.uk-box-shadow-special {
		.tm-header-shadow {
			position: absolute;
			height: 16px;
			width: 100%;
			overflow: hidden;
			pointer-events: none;
			div {
				height: 16px;
				width: 100%;
				top: -16px;
				position: absolute;

				&:before, &:after {
					content: "";
				    position: absolute;
				    top: 50%;
				    bottom: 0;
				    border-radius: 100%;
				}
				&:before {
				    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
				    left: 30%;
				    right: 30%;
				}
				&:after {
				    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
				    left: 20%;
				    right: 20%;
				}
			}
		}
	}
}

body.header-mode-side-left {
	.uk-box-shadow-special {
		.tm-header-shadow {
			position: fixed;
			height: 100vh;
			width: 16px;
			overflow: hidden;
			pointer-events: none;
			div {
			    width: 16px;
			    height: 100%;
			    left: -16px;
			    position: absolute;
			    &:before, &:after {
			    	content: "";
			        position: absolute;
			        left: 50%;
			        right: 0;
			        border-radius: 100%;
			    }
			    &::before {
				    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
				    top: 20%;
				    bottom: 20%;
				}
				&::after {
				    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
				    top: 12%;
				    bottom: 12%;
				}
			}
		}
	}
}

body.header-mode-side-right {
	.uk-box-shadow-special {
		.tm-header-shadow {
			position: fixed;
			height: 100vh;
			width: 16px;
			overflow: hidden;
			pointer-events: none;
			right: 300px;
			div {
			    width: 16px;
			    height: 100%;
			    right: -16px;
			    position: absolute;
			    &:before, &:after {
			    	content: "";
			        position: absolute;
			        right: 50%;
			        left: 0;
			        border-radius: 100%;
			    }
			    &::before {
				    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
				    top: 20%;
				    bottom: 20%;
				}
				&::after {
				    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
				    top: 12%;
				    bottom: 12%;
				}
			}
		}
	}
}