//
// Component: Variables
//
// ========================================================================

@internal-icon-image:                           "../images/icons/icons.svg";

// Global variables
// ========================================================================
//@global-font-size:                            18px;
@global-line-height:                            1.7;
@container-max-width:                   		1280px;


//
// Typography
//

//
// Colors
//

@global-link-color:                             #f864a6;
@global-link-hover-color:                       #ff3991;
@button-primary-active-background:              #ff3991;


//
// Backgrounds
//
@global-primary-background:                     #f864a6;

//
// Borders
//
@global-border:                                 #eeeeee;



//
// Spacings
//

//
// Controls
//

//
// Z-index
//