// Mixins functions
@import "mixins.less";
// UIkit Core
@import "../inc/vendor/uikit/less/uikit.less";
// UIkit Core Override
@import "../inc/vendor/uikit/less/uikit.theme.less";
// Parlour Core Theme Override
@import "theme/_import.less";
// Extensions
@import "extensions/extensions.less";
// WordPress Basic Style
@import "wordpress.less";

//
// Toolbar
//

@theme-toolbar-padding-vertical:                10px;
@theme-toolbar-background:                      @global-secondary-background;
@theme-toolbar-font-size:                       @global-small-font-size - 0.1rem;

//
// Boxed Page
//

@theme-page-boxed-width:                        1280px;
@theme-page-boxed-padding-vertical:             @global-large-margin;
@theme-page-boxed-background:                   darken(@global-muted-background, 3%);



/**
 * Drawer style
 */
.drawer-toggle {
    top: 5px;
}




/* 
 * Toolbar 
 */

.tm-toolbar {
    padding-top: @theme-toolbar-padding-vertical;
    padding-bottom: @theme-toolbar-padding-vertical;
    background: @theme-toolbar-background;
    font-size: @theme-toolbar-font-size;
    text-transform: uppercase;
    ul, p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .uk-icon-button {
        width: 28px;
        height: 28px;
    }

    .uk-grid-small > * {
        padding-left: 10px;
    }
    .uk-subnav {
        margin-left: -10px;
        > * {
            padding-left: 10px;
            > :first-child {
                font-size: @theme-toolbar-font-size;
            }
        }
    }
    .uk-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before {
        margin-right: 10px;
    }
}

body {
    overflow-x: hidden;
}




/* 
 * Boxed Page
 */

/* Desktop and bigger */
@media (min-width: @theme-page-boxed-width) {

    //.tm-page { background: @theme-page-boxed-background 50% 50% / cover no-repeat fixed; }
    .layout-boxed {
        .tm-page > * {
            position: relative;
            max-width: @theme-page-boxed-width + 80;
            background: @global-background;
            box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
        }

        .tm-page-padding {
            padding-top: @theme-page-boxed-padding-vertical;
            padding-bottom: @theme-page-boxed-padding-vertical;
        }
    }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-medium) {
  .uk-section-medium {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .header-mode-side-left {
      padding-left: @width-medium-width;
      overflow-x: hidden;
  }
  .header-mode-side-right {
      padding-right: @width-medium-width;
      overflow-x: hidden;
  }
  [class*='header-mode-side-'] {
    .tm-header {
        > div {
            overflow-y: scroll;
            &::-webkit-scrollbar {
              display: none;
            }

            .uk-search-default, .uk-button.uk-button-default, .uk-button.uk-button-primary, .uk-button.uk-button-secondary {
                width: 100%;
            }
        }
        &.uk-light {
            > div {
                .uk-navbar-dropdown-nav>li>a, .uk-nav li>a, .uk-navbar-dropdown-nav .uk-nav-sub a {
                    color: @inverse-base-link-color;
                }
                
            }
        }
    }
  }
}


/*
 * Header
 */
.tm-header {
    .navbar-color-default {
        background-color: @section-default-background;
    }
    .navbar-color-muted {
        background-color: @section-muted-background;
    }
    .navbar-color-primary {
        background-color: @section-primary-background;
    }
    .navbar-color-secondary {
        background-color: @section-secondary-background;
    }
    .tm-logo-img {
        line-height: normal;
    }
    .tm-center-logo {
        a {
            &:after {
                content: none;
            }
        }
    }
    .textwidget {
        p {
            margin: 0;
        }
    }
}
.tm-header-transparent { 
    .tm-header-wrapper {
        width: 100%; position: absolute; z-index: 10; 
    }
    &.tm-header-fixed {
        .tm-header-wrapper {
            position: fixed; 
        }
    }
    .tm-headerbar-top,
    .tm-headerbar-bottom { background: transparent; }

    .uk-navbar-transparent.uk-light {
        .bdt-modal-button {
            background-color: rgba(255, 255, 255, 0.15);
            color: #e5e5e5;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                color: #fff;
            }
        }
    }
    .tm-titlebar {
        padding-top: 135px;
    }
}
.tm-titlebar {
    .uk-text-center {
        .uk-breadcrumb {
            display: block;
            li {
                display: inline-block;
            }
        }
    }
   .uk-breadcrumb { 
        font-size: @global-small-font-size;
        > :nth-child(n+2):not(.uk-first-column)::before {
            margin: 0 12px;
        }
    }
}
.tm-header-mobile {
    .uk-position-z-index {
        z-index: 10;
    }
}

.tm-headerbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
}

.uk-navbar-toggle {
    > span {
        text-transform: uppercase;
    }
}

.header-mode-stacked-center-a,
.header-mode-stacked-center-b {
    .center-logo-art {
        position: absolute;
        bottom: -35px;
        margin-left: -125px;
        display: inline-block;
        opacity: 0.2;
    }
}

// Spacific header style
body[class*="header-mode-stacked-left"], body[class*="header-mode-stacked-center-b"] {
    .tm-headerbar-top {
        border-bottom: 1px solid @global-border;
    }
}

.tm-headerbar-bottom {
    padding-bottom: 20px;
}



/**
 * Main body
 */




/**
 * Sidebar
 */

.tm-sidebar {
    .widget {
        .uk-panel {
            .uk-card-title {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }
    }
}

/**
 * Article 
 */





/**
 * Bottom
 */

.tm-bottom, .tm-drawer {
    .bottom-widgets {
        .uk-card-title {
            display: none;
        }        
    }
    .widget {
        .uk-panel {
            .uk-card-title {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }

        + .widget {
            margin-top: 40px;
        }
    }
}

.uk-button {
    i[class*="fa-"] {
        margin-left: 5px;
    }
}

.tm-copyright {
    .copyright-txt {
        font-size: @global-small-font-size;
        //text-transform: uppercase;
    }
    .uk-subnav > * > :first-child {
        text-transform: capitalize;
    }
    .uk-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before {
        height: 0.75rem;
    }
}


.bdt-progress-pie-wrapper[class*="uk-box-shadow"] {
    overflow: hidden;
    position: relative;
    .bdt-progress-pie-after-title {
        position: relative;
        &:before {
            content: "";
            width: 100%;
            position: absolute;
            height: 1px;
            background-color: @global-border;
            left: 0;
            top: 0;
        }
    }
}


/**
 * Shortcode elements style
 */

.bdt-member-name {
    font-family: @base-heading-font-family;
}


/**
 * zoom and link button
 */
.bdtp-link, 
.bdtp-zoom {
    padding: 10px;
    margin: 0 5px;
    outline: none;
    text-decoration: none !important;
    background-color: rgba(0,0,0,0.75);
    border-radius: 50%;
    color: #fff;
}
.bdtp-link span, 
.bdtp-zoom span {
  height: 18px;
  width: 18px;
  margin: 0 0 8px 2px;
  line-height: 18px;
  vertical-align: middle;
}
.bdtp-link span svg, 
.bdtp-zoom span svg {
  height: 100%;
  width: 100%;
}
.cbp-caption-activeWrap {
  background-color: rgba(0,0,0,0.5) !important;
}

 /**
 * Post carousel 
 */

.bdt-owl-carousel {
    .bdt-oc-slide:not(.uk-light) {
        .bdt-oc-desc { 
            h4 {
                a {
                    color: @global-secondary-background;
                    &:hover {
                        color: darken(@global-secondary-background, 15%);
                    }
                }
            }
        } 
    }
    .bdt-oc-tags a {
        background: @global-primary-background;
    }
    .uk-background-primary {
        .bdt-oc-tags a {
            background: lighten(@global-secondary-background, 30%);
        }
    }  
}


// Cookie bar style
#cookie-bar {
    background-color: #fff;
    color: @global-color;
    z-index: 100;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.1);
}

.error-404-section {
    > div {
        border: 20px solid @global-link-color;
        max-width: 750px;
    }
    h1 {
        font-size: 140px;
        font-weight: 700;
        margin-bottom: 0;
    }
    h3 {
        font-size: 27px;
        font-weight: 700;
        margin-top: 0;
    }
}