// blog style 
.tm-blog-thumbnail {
    position: relative;
    .tm-blog-entry-overlay {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        z-index: 1;
    }
}

.widget {
    ul:not(.uk-list) {
        padding: 0;
        list-style: none;
        > li::before,
        > li::after {
            content: "";
            display: table;
        }
        > li::after {
            clear: both;
        }
        /*
        * Remove margin from the last-child
        */
        > li > :last-child {
            margin-bottom: 0;
        }
        /*
        * Nested lists
        */
        ul {
            margin: 0;
            padding-left: 20px;
            list-style: none;
            font-size: 13px;
        }
        /*
        * Style
        */
        > li:nth-child(n+2),
        > li > ul {
            margin-top: 10px;
        }
    }
}

.tm-main {
    .widget {
        /*
        * Divider
        */
        ul > li:nth-child(n+2) {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid rgba(120, 120, 120, 0.15);
        }

        &.widget_categories, &.widget_pages, &.widget_meta, &.widget_nav_menu, &.widget_archive {
            ul {
                li {
                    a {
                        &:after {
                            content: "›";
                            width: 10px;
                            height: 24px;
                            //font-family: arial;
                            font-size: 20px;
                            line-height: 24px;
                            float: right;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                        }
                    }
                }
            }
        }
        ul {
            li {
                a {
                    color: @global-color;
                    &:hover {
                        color: darken(@global-color, 10%);
                    }
                }
            }
        }
    }
}


.widget_recent_entries li:nth-child(n+2),
.widget_recent_comments li:nth-child(n+2) {
    border-top: 1px solid rgba(146, 146, 146, 0.15);
    padding-top: 15px !important;
    margin-top: 15px !important;
}

.widget_recent_entries {
    li { 
        a {
        color: @global-color;
        text-decoration: none;
        font-weight: 600;
        }
        &:hover {
            color: darken(@global-color, 10%);
        }
    }
    span.post-date {
        display: block;
        color: #aaa;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 5px;
    }
}




.widget_tag_cloud {
    a {
        background: transparent;
        color: #444;
        .transition(all 0.3s ease-in-out);
        padding: 6px 8px;
        float: left;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        line-height: normal;
        margin: 0 2px 2px 0;
        text-transform: uppercase;
        font-size: 10px !important;
        text-decoration: none;
        border: 1px solid rgba(146, 146, 146, 0.15);
        border-radius: @border-rounded-border-radius;
        &:hover {
            background: #F44336;
            color: #ffffff;
            border-color: #F44336;
        }
        .tagcloud {
            &:before {
                content: "";
                display: table-cell;
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

    }
}


#wp-calendar td {
    border: 1px solid rgba(146, 146, 146, 0.15);
    text-align: center;
    padding: 4px 0px;
    font-size: 12px;
}

.widget .panel-content select {
  max-width: 100%; 
  padding: 8px;
  border: 1px solid rgba(120,120,120,0.15);
}

.widget_archive select,
.widget_categories select {
  width: 100%;
}

.widget_rss .rssSummary {
    font-size: 13px;
    color: #999;
    line-height: 20px;
    margin-top: 5px;
}
.widget_rss a.rsswidget {
  font-weight: 700;
}
.widget_rss cite {
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}

.widget_rss ul li + li {
    padding-top: 15px !important;
    margin-top: 15px !important;
}


.wp-caption,
.gallery-caption {
  color: #666;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.gallery {
    .gallery-icon {
        a {
            position: relative;
            overflow: hidden;
            display: block;
            .transition(all 300ms ease-out);
            &:after {     
                content: "+";
                position: absolute;
                left: 50%;
                top: 50%;
                .transform(translate(-50%, -30%) rotate(-180deg));
                color: #fff;
                font-size: 24px;
                opacity: 0;
                .transition(all 300ms ease-out);
                box-shadow: 0 0 0 1px #fff;
                height: 50px;
                line-height: 50px;
                width: 50px;
                border-radius: 50px;
            }
           &:before {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                left: 0;
                top: 0;
                position: absolute;
                .transition(all 300ms ease-out);
                border-radius: 500px;
                .scale(0);
                opacity: 0;
            }
            &:hover {
                &:before{
                    background-color: @global-link-color;
                    border-radius: 0;
                    .scale(1);
                    opacity: 0.5;
                    
                }
                &:after {
                    opacity: 1;
                    .transform(translate(-50%, -50%) rotate(0deg));
                }

            }
        }
    }
}

.sticky {
  position: relative;
}


.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 1px solid #333;
  padding: 2px;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tm-content {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 20px;
        th {
            padding: 16px 12px;
            text-align: left;
            vertical-align: bottom;
            font-size: 12px;
            font-weight: normal;
            color: #999;
            border-bottom: 1px solid rgba(146, 146, 146, 0.15);
            text-transform: uppercase;
        }
        td {
            padding: 16px 12px;
            vertical-align: top;
        }
        tfoot {
            font-size: 14px;
            border-top: 1px rgba(146, 146, 146, 0.15);
        }
        :not(:last-child)>td {
            border-bottom: 1px solid #e5e5e5;
        }
        >tr:nth-of-type(odd), tbody tr:nth-of-type(odd) {
            background: #f8f8f8;
        } 
    }

    dl {
        dt {
            color: @description-list-term-color;
            font-size: 14px;
            text-transform: uppercase;
            &:nth-child(n+2) {
                margin-top: @description-list-term-margin-top;
            }
        }
    }
}

// We are open widget
.we-are-open {
  margin-bottom: 0;
    li {
        .uk-icon {
            margin-top: 2px;
        }
        div.uk-width-expand {
            span {
                color: @global-link-color;
                font-size: @global-font-size - 2;
            }
        }
    }
}

@media (min-width: @breakpoint-medium) {

    .widget_address {
        ///background-color: @global-link-color;
        .uk-card {
            padding: 75px 60px 70px;
            margin: -70px 0 -70px 0;
            min-height: 370px;
        }
        .uk-list {
            li {

            }
        }
    }
}