.bdt-assistant-grid {
    .bdt-assistant-item {
        .bdt-assistant-content-wrapper {
        	border-radius: 100% 100% 0 0;
        	.bdt-assistant-img-wrapper {
                overflow: hidden;
        		.bdt-assistant-img-design {
                    border-radius: 100% 100% 0 0;
                    overflow: hidden;
                    margin: 0 -150px;
                    padding: 0 150px;
                    transform: translateZ(0);
                    img {width: 100%;}
                    .bdt-assistant-img, 
                    .bdt-assistant-img-flip {
                        width: 100%;
                    }
        		}
        	}
            .bdt-assistant-icon {
                z-index: 15;
            }
            .bdt-assistant-overlay {
                pointer-events: none;
            }
            .swiper-button-prev, .swiper-button-next {
                width: 15px;
                height: 24px;
                -moz-background-size: 15px 24px;
                -webkit-background-size: 15px 24px;
                background-size: 15px 24px;
            }
            .swiper-button-next {
            	right: 20px;
            }
            .swiper-button-prev {
            	left: 20px;
            }
            &.bdt-assistant-align-center {
            	text-align: center;
            }
            .bdt-assistant-overlay {
                .transform(translateY(400px));
                .transition(all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1));
            }
            .bdt-assistant-title {
                .transition(transform 0.25s cubic-bezier(0.05, 0.45, 0.4, 1));
            }
            .bdt-assistant-meta {
                .transition(transform 0.40s cubic-bezier(0.05, 0.45, 0.4, 1));
                padding-left: 0;
                li {
                    position: relative;
                    display: inline-block;
                    a {
                        color: @global-muted-color;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 400;
                        &:hover {
                            color: @global-color;
                        }
                    }
                    &:not(:last-child) {
                        margin-right: 15px;
                        &::after {
                            content: "";
                            width: 3px;
                            height: 3px;
                            border-radius: 3px;
                            background-color: @global-muted-color;
                            position: absolute;
                            right: -8px;
                            top: 50%;
                            margin-bottom: -1px;
                            
                        }
                    }
                }
            }
            .bdt-assistant-social ul {
                .transition(all 0.55s cubic-bezier(0.05, 0.45, 0.4, 1));
                opacity: 0;
            }
            &:hover {
                .bdt-assistant-overlay {
                    .transform(translateY(0px));
                }
                .bdt-assistant-title {
                    .transform(translateY(-50px));
                }
                .bdt-assistant-meta {
                    .transform(translateY(-50px));
                }
                .bdt-assistant-social ul {
                    .transform(translateY(-40px));
                    opacity: 1;
                }
            }
        }
    }
}

.tm-atb-experience {
    list-style: none;
    padding-left: 0;
    li {
        display: inline-block;
        a {
            border: 1px solid @global-border;
            text-decoration: none;
            padding: 5px 10px;
            color: @global-color;
            font-size: 13px;
        }
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.bdt-assistant-sidebar {
    .uk-card {
        div {
           div {
                img {
                    vertical-align: bottom;
                }
            }
        }
    }
}