body {
  .uk-modal-body {
    .booked-calendar-wrap {
      margin-bottom: 0 !important;
		thead br {
			display: none;
		}
    }
  }
  .elementor-container .booked-calendar-wrap {
  	margin-bottom: 0 !important;
  }
}