.wpcf7-form {
	input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="url"], textarea, select {
		max-width: 100%;
		width: 100%;
		padding: 0 @form-padding-horizontal;
		background: @form-background;
		color: @form-color;
		border: @form-border-width solid @form-border;
		-webkit-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
		-webkit-transition-property: color, background-color, border;
		transition-property: color, background-color, border;
		box-sizing: border-box;
	    margin: 0;
	    border-radius: 0;
	    font: inherit;
		&:focus {
			border-color: @form-focus-border;
			outline: none;
		}
	}
	input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="url"], select  {
	    height: 50px;
	    vertical-align: middle;
	    display: inline-block;
	}
	input[type="submit"] {
		margin: 0;
	    border: none;
	    overflow: visible;
	    font: inherit;
	    color: inherit;
	    text-transform: none;
	    display: inline-block;
	    box-sizing: border-box;
	    padding: 0 30px;
	    vertical-align: middle;
	    font-size: 0.875rem;
	    line-height: 45px;
	    text-align: center;
	    text-decoration: none;
	    text-transform: uppercase;
	    -webkit-transition: 0.1s ease-in-out;
	    transition: 0.1s ease-in-out;
	    -webkit-transition-property: color, background-color, border-color;
	    transition-property: color, background-color, border-color;
	    background-color: @global-link-color;
	    color: #fff;
	    cursor: pointer;
	}

	select[multiple] {
		height: 125px;
	}

	div[class*="uk-width-"] {
		.wpcf7-form-control-wrap {
			&:not(:first-child) {
				input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select  {
					margin: 25px 0 0 0;
				}
				textarea {
					margin-top: 25px;
				}
			}
			+ br + input[type="submit"] {
				margin: 25px 0 0;
			}
			+ br {
				display: none;
			}
		}
	}
	.wpcf7-textarea {
		display: block;
	}
}