/**
* Table of Contents
*
* 1.0 - Tribe Events
*    1.1 - Item Day View
*    1.2 - Event Date Picker
*    1.3 - Events View
*    1.4 - Single Page
*    1.5 - Events Widget
*    1.6 - Events Loop
*    1.7 - Misc
**/


/*---- 1.1 Item Day View
---------------------------*/
.tribe-event-item, 
.tribe-events-day {
    .type-tribe_events {
        border: 1px solid #f5f5f5;
        padding: 35px;
        margin-left: 0 !important;
        border-radius: 4px;
        &:last-child {
            border-bottom: 1px solid #f5f5f5;
        }
         + .type-tribe_events {
            margin-top: 45px;
        }
    }
    .tribe-events-venue-details {
        display: inline-block;
    }
    .tribe-updated {
        display: inline-block !important;
        position: relative;
        padding-right: 10px;
        margin-right: 8px;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            height: 10px;
            width: 1px;
            background: #ddd;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .tribe-events-gmap {
        position: relative;
        display: inline-block;
        padding-left: 10px;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            height: 10px;
            width: 1px;
            background: #ddd;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .tribe-events-event-cost {
        margin-top: 10px;
        span {
            background: @global-link-color;
            border: 1px solid @global-link-color;
            color: #fff;
            border-radius: 2px;
            font-size: 17px;
            padding: 10px 16px;
        }
    }
    .tribe-events-event-meta {
        color: #999;
        font-size: 12px;
        line-height: 1.8em;
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 25px;
    }
    .tribe-event-schedule-details {
        display: inline-block;
    }
    .tribe-address {
        line-height: 1.8em;
    }
    h2.tribe-events-list-event-title {
        font-size: 28px;
        font-weight: 300;
        margin: 0;
        line-height: normal;
        a {
            color: #444;
            &:hover {
                color: #777;
            }
        }
    }
    .tribe-events-list-separator-month, 
    .tribe-events-day-time-slot h5 {
        background: transparent;
        display: block;
        margin: 4.5em 0;
        padding: 0;
        text-align: center;
        span {
            background-color: #eee;
            padding: 15px 25px;
            position: relative;
            border-radius: 2px;
            font-size: 18px;
            border-radius: 4px;
            &:after, &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 120px;
                background: #eee;
                top: 50%;
            }
            &:before {
                left: 100%;
            }
            &:after {
                right: 100%;
            }
        }
    }
}

/*---- 1.2 Event Date Picker
------------------------------*/
#tribe-events-bar {
    .tribe-bar-date-filter, .tribe-bar-search-filter, .tribe-bar-submit {
        padding: 29px;
    }
    .tribe-bar-submit {
        input[type=submit] {
            background: @global-link-color;
            line-height: normal;
            padding: 16px;
            border-radius: @border-rounded-border-radius;
            &:hover {
                background: @global-link-hover-color;
            }
        }
    }
    #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
        padding: 6px 20px;
        background: #ebebeb;
    }
    .tribe-bar-views-inner {
        padding: 31px 6px 53px;
        background: #ebebeb;
    }
    #tribe-bar-form input[type=text] {
        border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    }
    #tribe-bar-form label {
        font-size: 12px;
        margin: 0 0 10px;
    }
}
.datepicker.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
    table {
        border-collapse: collapse;
        thead {
            tr:nth-child(2) {
                > th {
                    background: #444;
                    color: #fff;
                    padding: 8px;
                    border-radius: 0;
                }
            }
        }
    }
}

#tribe-geo-results h2.tribe-events-page-title, h2.tribe-events-page-title {
    font-size: 24px;
}

/*---- 1.3 Events View
---------------------------*/
#tribe-events-pg-template {
    max-width: inherit !important;
}
#tribe-events-content {
    .tribe-events-calendar {
        th {
            padding: 10px;
            background: #444;
            color: #fff;
        }
        td {
            border-color: #ebebeb !important;
            div[id*=tribe-events-daynum-] {
                padding: 10px 15px;
            }
            &:hover {
                box-shadow: none;
            }
        }
    }
}
.tribe-events-calendar div[id*=tribe-events-daynum-], 
.tribe-events-calendar div[id*=tribe-events-event-] {
    padding: 15px;
}

/*---- 1.4 Single Page
---------------------------*/
.single-tribe_events {
    .tribe-events-venue-map {
        width: 100%;
        background: none;
        border: none;
        margin: 0;
        padding: 15px;
        box-sizing: border-box;
    }
    .catBlogMeta, #tribe-events-header {
        display: none;
    }
    h1.tribe-events-single-event-title {
        font-size: 28px;
        margin: 0;
    }
    .tribe-events-back {
        margin: 0;
        display: inline-block;
        text-transform: uppercase;
    }
    .tribe-events-schedule {
        margin: 0 0 15px 0;
        color: #999;
    }
    span.tribe-events-cost {
        position: absolute;
        right: 0;
        background: @global-link-color;
        font-size: 24px;
        padding: 12px 25px;
        color: #fff;
        border-radius: @border-rounded-border-radius;
        line-height: normal;
    }
    .tribe-events-event-image {
        text-align: left;
        margin-top: 35px;
        border-radius: @border-rounded-border-radius;
        overflow: hidden;
    }
    #tribe-events .tribe-events-button {
        background: @global-link-color;
        &:hover {
            background: @global-link-hover-color;
            color: #fff;
        }
    }
    .tribe-events-event-meta.primary {
        padding: 25px 30px;
    }
    .tribe-events-event-meta {
        background-color: #fff;
        border-radius: 4px;
        .tribe-events-venue-map {
            padding: 0;
        }
    }

    .tribe-events-single-section-title {
        font-size: 18px;
    }
}


.tribe-events-notices {
    border-radius: 3px;
    padding: 20px 35px 20px 20px;
    text-shadow: none;
}

@media (max-width: 767px) {

    .tribe-event-item .tribe-event-schedule-details, 
    .tribe-events-day .tribe-event-schedule-details {
        padding-left: 12px;
    }

    .tribe-events-list .tribe-events-event-image {
        margin: 0 0 25px;
    }
}


/*---- 1.5 Events WidgetEvents Widget
---------------------------*/
.tribe-list-widget {
    padding-left: 0;
    margin-bottom: 0;
    > li {
        margin-bottom: 0 !important;
        + li {
            padding-top: 13px;
            margin-top: 13px;
            border-top: 1px solid rgba(0, 0, 0, 0.07);
        }
    }
    h4.tribe-event-title {
        margin-bottom: 3px;
        font-size: 15px;
        a {
            color: #444;
            &:hover {
                color: #000;
                text-decoration: none;
            }
        }
    }
    .tribe-event-duration {
        color: #aaa;
        font-size: 11px;
        text-transform: uppercase;
    } 
}


/*---- 1.6 Events Loop
---------------------------*/
.events-list .tribe-events-loop, 
.single-tribe_organizer .tribe-events-loop, 
.single-tribe_venue .tribe-events-loop, 
.tribe-events-day .tribe-events-loop {
    max-width: 100%;
}
.tribe-events-list-separator-month:after {
    content: none;
}

.tribe-events-list {
    .tribe-events-event-image {
        width: 40%;
    }
    .tribe-events-event-image+div.tribe-events-content {
        width: 57%;
        padding: 0;
    }
}


/*---- 1.7 Misc
---------------------------*/
.tribe-events-list .tribe-events-event-cost {
    margin: 0 0 -8px 5px;
}
.single-tribe_events .tribe-events-back {
    margin-bottom: 10px;
}
.single-tribe_events .secondary .tribe-events-venue-map {
    width: 100%;
}
#tribe-events .tribe-events-button, .tribe-events-button {
    background: @global-link-color;
}
#tribe-events-content .tribe-events-calendar th {
    background: @global-link-color;
    border-color: lighten(@global-link-color, 20%);  
}
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
    background: @global-link-color;
}
.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-] {
    background: lighten(@global-link-color, 30%);
}