@import "shortcodes/shortcodes.less";
@import "assistants.less";
@import "booked.less";
@import "contact-form-7.less";
@import "event.less";
@import "gallery.less";
@import "jetpack.less";
@import "mailchimp.less";
@import "services.less";
@import "swiper/swiper.less";
@import "tick.less";
@import "woocommerce.less";
@import "wpml.less";
@import "elementor/elementor.less";


// Common style for service + assistant
.bdt-service-grid-container, 
.bdt-assistant-grid-container {
    &.uk-grid {
        .bdt-service-item {
            margin-top: 0 !important;
        }
    }
    &.uk-grid-medium {
        .bdt-service-item {
            margin-bottom: 30px;
        }
    }
    &.uk-grid-large {
        .bdt-service-item {
            margin-bottom: 70px;
        }
    }
    &.uk-grid-small {
        .bdt-service-item {
            margin-bottom: 10px;
        }
    }
    &.uk-grid-small,
    &.uk-grid-collapse {
        .bdt-service-item {
            &:hover {
                z-index: 1;
            }
        }
    }
}

.service-image {
    img {
        width: 100%;
    }
}

// Post gallery 
.post-image-gallery {
    .swiper-button-next {
        right: 20px;
    }
    .swiper-button-prev {
        left: 20px;
    }
}

// Contact Form 

div.wpcf7-response-output {
    margin-left: 0;
    margin-right: 0;
}
input.wpcf7-form-control.wpcf7-submit.readon {
    padding: 13px 20px;
    border: none;
}

.email-bg {
    background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 30px, transparent 30px, transparent 50px, #83B3DB 50px, #84ADCB 80px, transparent 80px, transparent 100px);
    padding: 8px !important;
}


/* Countdown Style */
.bdt-countdown {
    .donate-button.button.button-primary {
        border: 2px solid @global-link-color;
        &:hover {
            background: @global-link-color;
        }
    }
}


.author-info {
    margin: 50px 0;
}
.author-info .author-image {
    padding-right: 25px;
    width: 80px;
}

/* Widget style */

/*------------------------
 3.2 Calendar Styles
-------------------------*/
.widget_calendar table {
    width: 100%;
}
.widget_calendar table caption {
    padding-bottom: 10px;
    font-size: 17px;
}
.widget_calendar thead, .widget_calendar tbody {
    text-align: center;
}

/*------------------------
 3.4 Nav Widget Styles
-------------------------*/
.widget_nav_menu ul li i {
    margin-right: 5px;
}
.tm-header .no-menu {
    padding: 20px 0;
    list-style: none;
    margin-bottom: 0;
}

/*-----------------------
  3.5  Bottom Widget
-------------------------*/
.tm-bottom-b .widget_recent_entries ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.tm-bottom-b .widget div > ul > li:nth-child(n+2) {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid rgba(255,255,255,0.1);
}


/*=====================
  4.0  Search page
======================*/
.search .tm-content .uk-alert-warning {
    padding: 15px 20
}
.search-results {
  .entry-search .entry-title h3 {
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  .entry-search .entry-type {
      display: inline-block;
      background: #fbfafa;
      padding: 0px 8px;
      font-size: 11px;
      text-transform: uppercase;
      margin-top: 5px;
  }
  .entry-content {
      margin-top: 20px;
  }
  .searchform > div {
      margin-bottom: 12px;
  }
}


/*========================
  7.0  Countdown Styles
==========================*/
.bdt_countdown .bdt_countdown-section {
  margin-bottom: 0;
}


.page-links {
    a {
        color: @global-color;
        text-decoration: none;
        &:hover {
            color: #222;
        }
        span.page-number {
            font-weight: normal;
        }
    }
    span.page-number {
        margin-left: 5px;
        font-weight: 700;
    }
}
.post-link a, .post-link a:active {
    display: block;
    background: #666666;
    border-radius: 2px;
    padding: 20px;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.post-link a:hover {
    background-color: @global-link-color;
    color: #fff; 
}

.post-link a span {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    font-weight: 400;
    opacity: 0.6;
}

.post-content {
    font-size: 14px;
    margin-top: 20px;
}

.post-quote a {
    text-align: center;
    display: block;
    background: #f9f9f9;
    color: #666;
    padding: 40px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    margin: 0;
}

.post-quote a:hover {
    text-decoration: none;
    background-color: @global-link-color;
    color:#fff;
}

.post-quote a:before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    top: -20px;
    left: 50%;
    font-size: 100px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.03);
    margin-left: -50px;
}

.post-quote a .quote-source {
    display: block;
    font-size: 14px;
    color: #666;
    opacity: 0.6;
    margin: 10px 0 0 0;
}

.post-quote a:hover .quote-source {
    color: #fff;
}

.bdt-ecs-container .bdt-carousel-slide {
  width: 33%; /* full width */
  height: auto; /* height of carousel */
  margin-right: 30px;
}

// jetpack override
#infinite-footer {
    display: none;
}


.sd-social-icon .sd-content ul li a.sd-button, 
.sd-social-text .sd-content ul li a.sd-button, 
.sd-content ul li a.sd-button, .sd-content ul li .option a.share-ustom, 
.sd-content ul li.preview-item div.option.option-smart-off a, 
.sd-content ul li.advanced a.share-more, .sd-social-icon-text 
.sd-content ul li a.sd-button, .sd-social-official .sd-content>ul>li>a.sd-button, 
#sharing_email .sharing_send, .sd-social-official .sd-content>ul>li .digg_button >a {
    padding: 10px 20px 10px 20px !important;
    box-shadow: none !important;
    border: none !important; 
    text-transform: uppercase;
}


@media (max-width: @breakpoint-medium) {
    .swiper-button-next,
    .swiper-button-prev, {
        display: none;
    }
}