/* Testimonials Style */
.bdt-testimonial-item {
    .bdt-testimonial-thumb {
        width: 80px;
        height: 80px;
        border-radius: 0 120px 120px;
    }
    .bdt-testimonial-text {
        // &:after {
        //     content: '';
        //     position: absolute;
        //     bottom: -30px;
        //     left: 24px;
        //     border: 15px solid transparent;
        //     border-top-color: #eeeeee;
        // }
        &:before {
            content: "“";
            font-family: tahoma;
            position: absolute;
            top: 15px;
            left: 20px;
            font-size: 120px;
            color: rgba(214,214,214,0.2);
            line-height: 1;
            font-style: normal;
        }
    }
    .tm-rating {
        &.tm-rating-1 {
            .tm-rating-item:nth-child(1) {
                color: @global-link-color;
            }
        }
        &.tm-rating-2 {
            .tm-rating-item:nth-child(-n+2) {
                color: @global-link-color;
            }
        }
        &.tm-rating-3 {
            .tm-rating-item:nth-child(-n+3) {
                color: @global-link-color;
            }
        }
        &.tm-rating-4 {
            .tm-rating-item:nth-child(-n+4) {
                color: @global-link-color;
            }
        }
        &.tm-rating-5 {
            .tm-rating-item:nth-child(-n+5) {
                color: @global-link-color;
            }
        }
    }
}