.mc4wp-form {
  .mc4wp-form-fields p+p {
    margin-top: 10px;
  }
  .mc4wp-form-fields p {margin-bottom: 0px;}
  input[type="text"], input[type="email"] {
    border: @form-border-width solid @form-border;
    padding: 10px 20px;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    .rounded(3px);
    &::placeholder {
      color: #fff;
      opacity: 0.3;
    }
    &:focus, &:active {
        border-color: @form-focus-border;
        outline: none;
    }
  }
  input[type="submit"] {
    margin: 5px 0 0 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
    background-color: @global-link-color;
    color: #fff;
    cursor: pointer;
    .rounded(3px);
  }
}

.widget_mc4wp_form_widget {
  div:not([class*="uk-card"]) {
    input[type="text"], input[type="email"] {
      border: none;
      background-color: rgba(0, 0, 0, 0.1); 
      &:focus, &:active {
          color: #fff;
        }
    }
    input[type="submit"] {
      background-color: rgba(255, 255, 255, 0.1);
      color: rgb(158, 157, 157);
      &:hover, &:focus {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }
}