.bdt-services,
.bdt-service-grid,
.bdt-service-carousel {
    .bdt-service-item {
        position: relative;
        img {
            width: 100%;
        }
        &.bdt-service-align-center {
        	text-align: center;
        }
        .bdt-service-content-wrapper {
            border-radius: 100% 100% 0 0;
            .transition(all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1));
            .bdt-service-img-wrapper {
                    overflow: hidden;
                .bdt-service-img-design {
                    border-radius: 100% 100% 0 0;
                    overflow: hidden;
                    margin: 0 -80px;
                    padding: 0 80px;
                    transform: translateZ(0);
                }
                .swiper-button-prev,
                .swiper-button-next {
                    margin-top: 8px !important;
                }
            }
            .bdt-service-icon {
                z-index: 15;
            }
            .bdt-service-overlay {
                pointer-events: none;
            }
            .bdt-service-overlay {
                .transform(translateY(300px));
                .transition(all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1));
            }
            .bdt-service-title {
                font-size: 20px;
                .transition(transform 0.25s cubic-bezier(0.05, 0.45, 0.4, 1));
            }
            .bdt-service-meta {
                .transition(transform 0.40s cubic-bezier(0.05, 0.45, 0.4, 1));
            }
            &:hover {
                .bdt-service-overlay {
                    .transform(translateY(0px));
                }
                .bdt-service-title {
                    .transform(translateY(-20px));
                }
                .bdt-service-meta {
                    .transform(translateY(-20px));
                }
            }
            .uk-subnav > * > {
                &:not(:last-child) {
                    &::after {
                        content: "";
                        width: 3px;
                        height: 3px;
                        border-radius: 3px;
                        background-color: @global-muted-color;
                        position: absolute;
                        right: -12px;
                        top: 50%;
                        margin-bottom: -1px;
                        .transform(translateY(-50%));
                    }
                }
                :first-child {
                    text-transform: capitalize;
                }
            }
        }
        .bdt-service-read-more {
            position: absolute;
            right: 50px;
            bottom: -25px;
            padding: 25px;
            background-color: @global-link-color;
            color: #fff;
            opacity: 0;
            visibility: hidden;
            .transform(translateX(-100px) rotate(-180deg));
            .transition(all 0.35s cubic-bezier(0.05, 0.45, 0.4, 1));
            &:hover {
                box-shadow: 0 0 0 4px rgba(208, 208, 208, 0.25);
                .transform(rorate(90deg));
            }
        }
        .bdt-service-cart-link {
            position: absolute;
            right: 80px;
            bottom: -20px;
            padding: 20px;
            background-color: @global-link-color;
            color: #fff;
            opacity: 0;
            visibility: hidden;
            .transform(translateX(-100px) rotate(-180deg));
            .transition(all 0.50s cubic-bezier(0.05, 0.45, 0.4, 1));
            &:hover {
                box-shadow: 0 0 0 4px rgba(208, 208, 208, 0.25);
                .transform(rorate(90deg));
            }
        }
        &:hover {
            .bdt-service-icon {
                visibility: visible;
                opacity: 1;
                .transform(translateX(0px) rotate(0deg));
            }
        }
    }
}
.bdt-grid-item {
    &:hover {
        z-index: 10;
    }
}
.bdt-service-carousel .swiper-container {
    padding: 0 5px 35px 5px;
    margin: 0 -5px;
}