@import "woocommerce-core.less";


.woocommerce {
	ul.products {
		padding: 0;
		li.product {			
			span.onsale {
				text-transform: uppercase;
				margin: 5px;
				min-width: 50px;
				min-height: 20px;
				line-height: 20px;
				background: @global-link-color;
			}	
		}
	}
	div.product {
		span.onsale {
			left: 0;
		}
		.woocommerce-tabs {
		    border-top: 1px solid @global-border !important;
		    padding-top: 35px;
		}
	}

	div.quantity {
		float: left;
		margin-right: 20px;
		overflow: hidden;
		.input-group {
			span.input-group-btn {
				display: inline-block;
				float: left;
				button.btn {
					background: #f1f1f1;
					color: #999;
					font-family: sans-serif !important;
					font-size: 18px;
					font-weight: 700;
					padding: 0;
					height: 40px;
					width: 40px;
					text-align: center;
					border: none;
					outline: none;
					cursor: pointer;
					&.btn-minus {
					}
					&.btn-plus {
					}
				}
			}
			.input-text {
				float: left;
				width: 40px;
				border: none;
				border-radius: 0;
				height: 40px;
				padding: 0 10px;
				margin-bottom: 0;
				background: #f9f9f9;
			}	
		}
	}

	ins {
		background: none !important;
	}
	p.price {
		margin-bottom: 0;
	}
	.submit,
	.button {
		font-size: 12px !important;
		font-weight: 700;
	}
	a.add_to_cart_button {
	    // &.loading:after {
	    //     content: "\f021";
	    //     font-family: 'FontAwesome';
	    //     font-weight: 400;
	    //     margin-left: 6px;
	    //     -webkit-animation: uk-rotate 2s infinite linear;
	    //     -moz-animation: uk-rotate 2s infinite linear;
	    //     animation: uk-rotate 2s infinite linear;
	    // }
	}
	nav.woocommerce-pagination {
		.page-numbers {
		    min-width: 40px !important;
		    min-height: 40px;
		    line-height: 40px !important;
		    padding: 0 !important;
		    li:first-child {
		    }
		    li:last-child {
		    }
		}
	}
	.calculated_shipping {
		input[type="text"] {
		    padding: 8px 14px !important;
		    margin-bottom: 12px !important;
		    font-size: 14px;
			&:focus {
				color: #666 !important;
			}
		}
		a.shipping-calculator-button {
		    color: #666;
		}
	}
	
	
	
	table.shop_attributes {
		td {
			background: none !important;
			padding-left: 10px;
		}
		th {
			background: rgba(0,0,0,0.025) !important;
		}
	}
	textarea:focus {
		color: #444444 !important;
	}
	h1 {
		font-size: 26px !important;
		line-height: 26px !important;
	}
	h2 {
		font-size: 1.2rem;
		line-height: 1.3;
	}
	.tm-sidebar {
		ul.product_list_widget {
			margin-left: 7.5px !important;
			li {
				//border-bottom: 1px solid #e5e5e5 !important;
			}
		}
		input {
			font-size: 13px;
			color: #444444;
			&:focus {
				color: #444444 !important;
			}
		}
		input[type="submit"] {
			&:hover {
				background: #eeeeee;
			}
		}
	}
	.star-rating {
		span {
			color: @global-link-color;
		}
	}
	.stars {
		a:hover {
			color: @global-link-color !important;
		}
	}
	.product_meta {
		font-size: (@global-font-size)-2;
		> span {
			display: block;
		}
	}
}

.pif-has-gallery {
	position: relative;
	.onsale {
		z-index: 999999;
		left: 0 !important;
	}
	.secondary-image {
		left:0;
		opacity:0;
		position: absolute;
		top:0;
		-webkit-transition: all .25s ease;
		transition: all .25s ease;
	}
	a {
		display: block;
		position: relative;
		&:hover {
			img {
				opacity: 1 !important;
			}
			.secondary-image {
				opacity: 1;
			}
		}
	}
}


// search widget
.widget_product_search {
	.woocommerce-product-search{
		position: relative;
		input[type="search"] {
			height: 40px;
			padding: 4px 18px;
			border: 1px solid #e5e5e5;
		}
		input[type="submit"] {
			margin-top: 11px;
			position: absolute;
			right: 0px;
			top: 0px;
			margin: 0 !important;
			padding: 0px 15px !important;
			border-right: 1px solid #e5e5e5;
		}
	}
}

// shopping cart
.tm-cart-popup {
	float: right;
	position: relative;
	.uk-dropdown {
		.widget_shopping_cart .widgettitle {
			display: none;
		}
	}
	a.tm-shopping-cart {
		text-decoration: none;
		position: relative;
		color: currentColor;
		&:hover {
			color: @global-link-color;
		}
		span.pcount {
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -18px;
			right: -10px;
			height: 16px;
			width: 16px;
			line-height: 16px;
			font-size: 8px;
			font-weight: 700;
			text-align: center;
			border-radius: 50%;
			background: @global-link-color;
			color: #fff;
		}
	}
	p.total {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.cart-dropdown {
	.mini_cart_item {
		border-bottom: 1px solid @global-border; 
		a + a {
			color: @global-color;
		}
		a.remove {
		    position: absolute;
		    right: -7px;
		    top: 13px !important;
		    background: @background-muted-background;
		    display: inline-block !important;
		    height: 14px;
		    line-height: 13px;
		    width: 14px;
		    text-align: center;
		    font-size: 12px;
		    text-decoration: none;
		    &:hover {
		    	background-color: @global-link-color;
		    	color: #fff;
		    }
		}	
	}
	&.uk-drop {
		.uk-card-default {
			padding: 30px;
		}
	}
	.buttons {
		border-top: 1px solid @background-muted-background;
		margin-top: 10px;
		padding-top: 10px;
		margin-bottom: 0;
		a.button {
			padding-left: 20px;
			width: 50%;
			padding-right: 20px;
			float: left;
			text-align: center;
		}
	}
}

.uk-navbar-dropbar {
	.cart-dropdown {
		.uk-card-default {
			box-shadow: none;
		}
	}
}

// .tm-header {
// 	.tm-cart-popup {
// 		a.tm-shopping-cart {
// 			color: currentColor;
// 			&:before {
// 			    content: '';
// 			    width: 1px;
// 			    height: 18px;
// 			    position: absolute;
// 			    left: -15px;
// 			    transform: translateY(50%);
// 			    margin-top: -5px;
// 			    background-color: currentColor;
// 			    opacity: 0.3;
// 			}
// 		}
// 	}
// }

.header-mode-0 {

}


// single product page
body.single-product {
	.product_meta {
		a {
			display: inline-block;
			color: #999;
			text-decoration: none;
			&:hover {
				color: #333;
			}
		}
	}
	.product {
		form.cart table td {
			padding-left: 20px;
		}
		.woocommerce-tabs {
			.entry-content {
				ul {
					padding-left: 17px;
				}
			}
			ul.tabs {
				border: 0 !important;
				text-transform: uppercase;
				font-size: 15px;
				li {
					position: relative;
					margin-right: 40px;
					a {
						border: 0 !important;
						background: transparent !important;
						padding: 0;
						color: #444 !important;
						padding-bottom: 8px;
						
					}
					&:after {
						position: absolute;
						content: '';
						left: 0;
						bottom: 0;
						height: 1px;
						width: 0;
						background: #000;
						-webkit-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
					}
					&:hover {
						&::after {
							width: 40px;
						}
					}
					&.active {
						&::after {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.related {
	    clear: both;
	    float: none;
	    width: 100%;
	    height: 100%;
	    padding-top: 35px;
	    margin-top: 35px;
	    border-top: 1px solid @global-border;
	}
	#tab-reviews {
		#commentform {
			.comment-form-rating .stars .active {
				color: @global-link-color;
			}
			textarea#comment {
				resize: none;
				padding: 10px;
			}
			.comment-form-author, .comment-form-email {
				width: 48%;
				float: left;
				input[type="text"] {
					width: 100%;
					box-sizing: border-box;
					height: 40px;
					padding: 5px 15px;
					border: 1px solid #ddd;
					color: #aaa;
					font-size: 12px;
					margin-bottom: 15px;
					outline: none;
				}
				label {
					display: block;
				}
			}
			.comment-form-email {
				margin-left: 4% !important;
			}
		}
	}
	.reset_variations {
		position: initial;
	}
	.woocommerce-product-details__short-description {
		margin-top: 35px;
	}
	.price {
		font-weight: 700;
	}
}
// cart page
.woocommerce-cart .wc-proceed-to-checkout { 
	text-align: right;
	a.checkout-button {
		height: 40px;
		line-height: 40px !important;
		padding: 0 20px;
	}
}
.woocommerce-page #content table.cart td.actions .coupon {
	margin-bottom: 20px;
	margin-top: 15px;
}
.woocommerce-page #content table.cart td.actions .coupon #coupon_code {
	height: 39px;
	padding: 4px 15px;
}
.woocommerce-page #content table.cart td.actions .coupon .input-text {
	float: none !important;
}
.woocommerce-cart .shop_table div.quantity {
	float: none;
}
// checkout page design
.woocommerce form.checkout_coupon, .woocommerce-page form.checkout_coupon {
	padding: 0;
	background: transparent;
}
.woocommerce-checkout .woocommerce .form-row input.input-text, 
.woocommerce-page.woocommerce-checkout .form-row input.input-text, 
.woocommerce table.cart td.actions .coupon .input-text, 
.woocommerce-page table.cart td.actions .coupon .input-text {
	height: 40px;
	padding: 0 20px;
	box-sizing: border-box;
}
.woocommerce-checkout .woocommerce form .form-row select, .woocommerce-page.woocommerce-checkout form .form-row select {
	height: 40px;
}
.woocommerce .select2-container--default .select2-selection--single,
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	line-height: 40px;
}
.select2-dropdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce-checkout .woocommerce form .form-row {
	margin-bottom: 25px;
}
.woocommerce-checkout .woocommerce form .form-row label {
	margin-bottom: 10px;
}
.woocommerce form .form-row input.input-text:focus, 
.woocommerce-page form .form-row input.input-text:focus, 
.woocommerce form .form-row textarea:focus, 
.woocommerce-page form .form-row textarea:focus {
	color: #999;
}
.woocommerce-checkout textarea#order_comments {padding: 10px;}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td, 
.woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot th,
.woocommerce .select2-container--default .select2-selection--single {
	border-color: #f5f5f5 !important;
}
.woocommerce #payment, .woocommerce-page #payment {
}

.woocommerce-account {
	nav.woocommerce-MyAccount-navigation {
		ul {
			padding: 35px;
			border: 1px solid #ddd;
			li {
				list-style: none;
				&:nth-child(n+2) {
				    margin-top: 10px;
				    padding-top: 10px;
				    border-top: 1px solid #e5e5e5;
				}
				&.is-active {
					font-weight: 700;
				}
			}
		}
	}
}

.woocommerce-MyAccount-content {
	box-sizing: border-box;
	padding: 35px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	fieldset {
		border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 35px;
		
	}
}

@media only screen and (max-width: 1249px) and (min-width: 980px) {
	.woocommerce .product .images {
	    width: 400px !important;
	}
	.woocommerce .product .summary, .woocommerce .woocommerce-tabs {
	    width: 480px !important;
	}
}
@media only screen and (max-width: 979px) and (min-width: 768px) {
	.woocommerce div.product .images, .woocommerce-page div.product .images {
	    width: 291px !important;
	}
	.woocommerce div.product .summary, .woocommerce-page div.product .summary {
	    width: 370px !important;
	}
	.woocommerce div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
	    clear: both;
	    float: none;
	    width: 748px;
	}
}