.bdt-assistant-carousel {
    .swiper-wrapper {
        padding-bottom: 40px;
    }
    .assistant-thumbnail-design {
        img {
            width: 100%;
        }
    }
    .bdt-assistant-carousel-content-wrapper {
        border-radius: 100% 100% 0 0;
        .assistant-thumbnail {
            overflow: hidden;
            .assistant-thumbnail-design {
                border-radius: 100% 100% 0 0;
                overflow: hidden;
                margin: 0 -150px;
                padding: 0 150px;
                transform: translateZ(0);
                img {width: 100%;}
                .assistant-img, 
                .assistant-img-flip {
                    width: 100%;
                }
            }
        }
        .bdt-assistant-carousel-overlay {
            .transform(translateY(400px));
            .transition(all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1));
        }
        .tm-assistant-title {
            .transition(transform 0.25s cubic-bezier(0.05, 0.45, 0.4, 1));
        }
        .bdt-assistant-carousel-meta {
            .transition(transform 0.40s cubic-bezier(0.05, 0.45, 0.4, 1));
            padding-left: 0;
            li {
                position: relative;
                display: inline-block;
                a {
                    color: @global-muted-color;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    &:hover {
                        color: @global-color;
                    }
                }
                &:not(:last-child) {
                    margin-right: 15px;
                    &::after {
                        content: "";
                        width: 3px;
                        height: 3px;
                        border-radius: 3px;
                        background-color: @global-muted-color;
                        position: absolute;
                        right: -8px;
                        top: 50%;
                        margin-bottom: -1px;
                        
                    }
                }
            }
        }
        .bdt-assistant-carousel-icon ul {
            .transition(all 0.55s cubic-bezier(0.05, 0.45, 0.4, 1));
            opacity: 0;
        }
        &:hover {
            .bdt-assistant-carousel-overlay {
                .transform(translateY(0px));
            }
            .tm-assistant-title {
                .transform(translateY(-50px));
            }
            .bdt-assistant-carousel-meta {
                .transform(translateY(-50px));
            }
            .bdt-assistant-carousel-icon ul {
                .transform(translateY(-40px));
                opacity: 1;
            }
        }
    }
}