.bdt-blog-list {
    position: relative;
}
.bdt-blog-list .bdt-blog-list-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(130,130,130,0.2);
    text-decoration: none;
}
.bdt-blog-list .bdt-blog-list-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-description {
    -webkit-flex: 1;
    flex: 1;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-description a {
    color: #666;
    -webkit-transition: all .25s;
    transition: all .25s;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-description a:hover {
    opacity: 0.7;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-description p {
    margin: 10px 0 0;
    color: #999999;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-date {
  background: rgba(0, 0, 0, 0.1);
  line-height: normal;
  margin-right: 25px;
  text-align: center;
  width: 48px;
  font-weight: 700;
  font-size: 32px;
  padding: 10px;
}
.bdt-blog-list .bdt-blog-list-item .blog-list-item-date span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
}