.bdt-call-to-action {
    padding: 25px 30px;
    min-height: 63px;
    border-radius: 2px;
}

.bdt-call-to-action .cta-dbtn {
    float: right;
}
.bdt-call-to-action h3 {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    color: #333;
}
.cta-content .bdt-ca-dtxt {
    //color: #888;
}
.bdt-call-to-action p {
    margin: 5px 0 0;
}

.bdt-ca-vp {
    display: none !important;
}

.bdt-call-to-action.cta-align-left {
    text-align: left;
}
.bdt-call-to-action.cta-align-right {
    text-align: right;
}
.bdt-call-to-action.cta-align-right a.cta-dbtn {
    float: left;
    margin-left: 0;
    margin-right: 20px; 
}
.bdt-call-to-action.cta-align-center {
    text-align: center;
}
.bdt-call-to-action.cta-align-center a.bdt-ca-hp {
    display: none;
}
.bdt-call-to-action.cta-align-center a.bdt-ca-vp {
    float: none !important;
    display: inline-block !important;
    margin: 20px 0 5px;
    min-width: 150px;
}

.bdt-call-to-action.cta-align-center .cta-content > div {margin-top: 10px;}

@media (max-width: 767px) {
    .bdt-call-to-action .cta-dbtn {
        float: none !important;
        margin: 18px 0 10px;
        text-align: center;
    }
    .bdt-call-to-action .cta-content {
        text-align: center;
    }
    .bdt-ca-vp {
        display: inherit !important;
    }
    .bdt-ca-hp {
        display: none !important;
    }
    .bdt-call-to-action.cta-align-center a.bdt-ca-vp {
        display: block !important;
    }
}

@media only screen and (max-width: 480px) {
    .bdt-call-to-action .cta-dbtn {
        padding: 10px;
        margin: 18px 0 10px;
        font-size: 14px;
        text-align: center;
    }
    .bdt-call-to-action .cta-content {
        text-align: center;
    }
}