
/* Responsive Code Here */
@media (max-width: 768px) {
    div.bdt-countdown h3.bdt_prefix-text,div.bdt-countdown h3.bdt_suffix-text,.bdt-countdown .countdown-button {
      display: block;
      text-align: center;
      max-width: initial;
      overflow: visible;
      height: auto;
    }
    div.bdt-countdown h3.bdt_prefix-text {
        margin: 0 0 30px;
    }
    div.bdt-countdown h3.bdt_suffix-text,.bdt-countdown .countdown-button {
        margin: 30px 0 0;
    }
}
@media (max-width: 960px) {
    .tm-headerbar div.bdt-countdown h3.bdt_prefix-text,.tm-headerbar div.bdt-countdown h3.bdt_suffix-text {
        display: none;
    }
  .tm-headerbar .bdt-countdown .countdown-section .countdown-amount {
      font-size: 24px;
  }
}