.bdt-counter-number { line-height: normal; color: #444444; font-weight: 700;}
.bdt-counter-text { line-height: normal; font-weight: 300;}
.bdt-counter-wrapper {padding: 20px;}
.bdt-counter-icon i {color: #444444;}
.bdt-counter-top {
    text-align: center;
}
.bdt-counter-left .bdt-counter-number {
    text-align: left;
}
.bdt-counter-left .bdt-counter-desc {
    float: left;
    margin-left: 20px;
}
.bdt-counter-left .bdt-counter-icon {
    float: left;
    padding-top: 5px;
}

.bdt-counter-right .bdt-counter-number {
    text-align: right;
}
.bdt-counter-right .bdt-counter-desc {
    float: right;
    text-align: right;
    margin-right: 20px;
}
.bdt-counter-right .bdt-counter-icon {
    float: right;
    padding-top: 5px;
}
.bdt-counter-wrapper .uk-icon svg {
    width: 100%;
    height: 100%;
}
