.bdt-featured-post {
    .swiper-container {
        width: 300px;
        height: 300px;
        left: 50%;
        margin-left: -150px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px !important;
        height: 300px !important;
    }

    .swiper-slide-active [class*='uk-transition-slide'] {
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    .uk-transition-fade {
        opacity: 1;
    }
    .swiper-button-prev {
        left: -50px;
    }
    .swiper-button-next {
        right: -50px;
    }
}