.bdt-featured-icon-box {
    padding: 70px 35px 50px;
    border: 1px solid lighten(@global-link-color, 25%);
    position: relative;
    .rounded(5px);
    margin-top: 35px;
    .transition(all 0.25s ease-out);
    .icon-list-icon-wrapper {
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        .icon-list-icon {
            box-sizing: initial;
            width: 24px;
            height: 24px;
            margin: 0 auto;
            background-color: lighten(@global-link-color, 25%);
            padding: 20px;
            transform: translateY(-50%);
            box-shadow: 0 0 0 5px rgba(255,255,255,1), 0 0 0 6px lighten(@global-link-color, 25%);
            border-radius: 1px;
            .transition(all 0.8s cubic-bezier(0, 0.41, 0.18, 0.9));
            i {
                font-size: 24px;
            }
        }
    }
    .icon-list-desc {
        h3 {
            font-size: 20px;
            position: relative;
            margin-bottom: 35px;
            &:after {
                content: '';
                position: absolute;
                height: 2px;
                width: 80px;
                background-color: @global-link-color;
                left: 50%;
                bottom: -17px;
                .transform(translateX(-50%));
                .transition(width 0.35s ease-out);
            }
        }
        .icon-list-link {
            position: absolute;
            bottom: -25px;
            left: 50%;
            background: #f864a6;
            color: #fff;
            border-radius: 40px;
            height: 48px;
            width: 48px;
            line-height: 46px;
            box-sizing: border-box;
            text-align: center;
            .transform(translateX(-100%));
            .transition(all 0.35s ease-out);
            opacity: 0;
            visibility: hidden;
            &:hover {
                box-shadow: 0 0 0 4px rgba(red(@global-link-color), green(@global-link-color), blue(@global-link-color), 0.3);
            }
        }
    }
    &:hover {
        .icon-list-icon {
            background-color: @global-link-color;
            color: #fff;
            .rounded(40px);
        }
        .icon-list-desc {
            h3 {
                &:after {
                    width: 100px;
                }
            }
            .icon-list-link {
                .transform(translateX(-50%));
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.uk-background-secondary {
        .icon-list-icon-wrapper {
            .icon-list-icon {
                background-color: lighten(@background-secondary-background, 50%);
            }
        }
        &:hover {
            .icon-list-icon {
                background-color: @background-secondary-background;
                color: #fff;
            }
        }
    }
    &.uk-background-primary {
        .icon-list-icon {
            color: #444;
        }
        &:hover {
            .icon-list-icon {
                color: #fff;
            }
        }
        .icon-list-desc {
            h3 {
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
}

/* Phone landscape and smaller*/
@media (max-width: 767px) {
    .bdt-featured-icon-box {
        margin-top: 70px;
    }
}