.bdt-heading-wrapper { 
	position:relative;
	.bdt-heading {
		position: relative;
		a {
			color: inherit;
		}
	}
	h1.bdt-heading,	h2.bdt-heading,	h3.bdt-heading,	h4.bdt-heading,	h5.bdt-heading,	h6.bdt-heading { margin: 0; }
	.bdt-heading-style {
		height: 13px;
		width: 142px;
		background-image: url('../images/heading-art-01.svg');
		display: inline-block;
		opacity: 0.5;
	}
	&.bdt-heading-align-left { 
		text-align: left;
		margin-right: auto;
	}
	&.bdt-heading-align-right { 
		text-align: right;
		margin-left: auto;
	}
	&.bdt-heading-align-center { 
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.elementor-widget-heading {
	.elementor-widget-container {
		margin-bottom: 60px;
	}
}
