.bdt-icon-box:not[class*="uk-padding"] {
    padding: 0;
}

.bdt-icon-box.has-connector .icon-box  {
    overflow: hidden;
}

.bdt-icon-box .icon-box {
    //padding-bottom: 30px;
    margin: 0;
    clear: both;
    position: relative;
    line-height: inherit;
}
.bdt-icon-box .icon-box .icon-box-icon {
    font-size: 24px;
    width: 3em;
    height: 3em;
    padding: 20px;
    line-height: 3em;
    text-align: center;
    background: transparent;
    z-index: 9;
    position: relative;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.bdt-icon-box .icon-box .icon-box-connector {position: relative;}
.bdt-icon-box .icon-box .icon-box-connector:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0px;
    margin-left: -1px;
    height: 900px;
    border-left: 2px dashed #ddd;
    z-index: 1;
    margin-top: 3px;
}

.bdt-icon-box .list-img-icon {
    display: block;
    margin: 0 auto;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.bdt-icon-box .list-img-icon.uk-icon svg {
    width: 100%;
    height: 100%;
}
.bdt-icon-box .icon-box .icon-description h3  {
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 10px;
    clear: none !important;
    line-height: normal;
}
.bdt-icon-box .icon-box .icon-description .icon-description-text {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display: block;
}

.bdt-flip-box .bdt-icon-box:last-child .icon-box {
    padding-bottom: 0;
}

/*left*/
.bdt-icon-box.bdt-icon-align-left .icon-box .icon-box-wrapper {
    float: left;
}
/*right*/
.bdt-icon-box.bdt-icon-align-right {
    text-align: right;
}
.bdt-icon-box.bdt-icon-align-right .icon-box .icon-box-wrapper {
    float: right;
}

/*top*/
.bdt-icon-box.bdt-icon-align-top {
    display: flex;
}
.bdt-icon-box.bdt-icon-align-top .icon-box {
    display: table-cell;
    display:-moz-box;
    width: 100%;
}
.bdt-icon-box.bdt-icon-align-top .icon-box .icon-box-wrapper .icon-box-icon {
    margin: 0 auto;
    float: none;
}
.bdt-icon-box.bdt-icon-align-top .icon-box .icon-description {
    text-align: center;
    margin-top: 15px;
    padding-bottom:0;
}
.bdt-icon-box.bdt-icon-align-top-left .icon-box-icon,
.bdt-icon-box.bdt-icon-align-top-right .icon-box-icon {
  margin-bottom: 10px;
  display: inline-block;
}
.bdt-icon-box.bdt-icon-align-title .icon-box-icon {
  float: left;
  margin-right: 10px;
  background: none !important;
  margin-top: 6px;
}
.bdt-icon-box.bdt-icon-align-left .icon-box-icon {
  margin-top: 6px;
}
.bdt-icon-box.bdt-icon-align-top-left .icon-box-icon {
  text-align: left;
}
.bdt-icon-box.bdt-icon-align-top-right {
  text-align: right;
}


/* description gap style */
.bdt-icon-align-right .description-gap .icon-description {
    margin-right: 0 !important;
}

.description-gap .icon-description {
    margin-left: 0 !important;
}
.description-gap .icon-description .icon-description-text {
    display: inline-block;
    margin-top: 15px;
}
.bdt-ib-has-url {
  cursor: pointer;
}



/* animation 1 */
.bdt-ib-animation-1 .icon-box:hover .icon-box-icon {
    -webkit-animation-name: wobble-bottom;
    animation-name: wobble-bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes wobble-bottom {
  16.65% { -webkit-transform: skew(-12deg); transform: skew(-12deg); }
  33.3% { -webkit-transform: skew(10deg); transform: skew(10deg); }
  49.95% { -webkit-transform: skew(-6deg); transform: skew(-6deg); }
  66.6% { -webkit-transform: skew(4deg); transform: skew(4deg); }
  83.25% { -webkit-transform: skew(-2deg); transform: skew(-2deg); }
  100% { -webkit-transform: skew(0); transform: skew(0); }
}
@keyframes wobble-bottom {
  16.65% { -webkit-transform: skew(-12deg); transform: skew(-12deg); }
  33.3% { -webkit-transform: skew(10deg); transform: skew(10deg); }
  49.95% { -webkit-transform: skew(-6deg); transform: skew(-6deg); }
  66.6% { -webkit-transform: skew(4deg); transform: skew(4deg); }
  83.25% { -webkit-transform: skew(-2deg); transform: skew(-2deg); }
  100% { -webkit-transform: skew(0); transform: skew(0); }
}

/* aniamtion 2 */
.bdt-ib-animation-2 .icon-box:hover .icon-box-icon{
    -webkit-animation-name: push;
    animation-name: push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes push {
  50% { -webkit-transform: scale(0.8); transform: scale(0.8); } 
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes push {
  50% { -webkit-transform: scale(0.8); transform: scale(0.8); } 
  100% { -webkit-transform: scale(1); transform: scale(1); }
}

/* animation 3 */
.bdt-ib-animation-3 .icon-box:hover .icon-box-icon {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes pop {
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}
@keyframes pop {
  50% { transform: scale(1.2); transform: scale(1.2); }
}

/* animation 4 */
.bdt-ib-animation-4 .icon-box:hover .icon-box-icon {
    -webkit-animation-name: buzz-out;
    animation-name: buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* effect 4 */
@-webkit-keyframes buzz-out {
  10% { -webkit-transform: translateX(3px) rotate(2deg); }
  20% { -webkit-transform: translateX(-3px) rotate(-2deg); }
  30% { -webkit-transform: translateX(3px) rotate(2deg); }
  40% { -webkit-transform: translateX(-3px) rotate(-2deg); }
  50% { -webkit-transform: translateX(2px) rotate(1deg); }
  60% { -webkit-transform: translateX(-2px) rotate(-1deg); }
  70% { -webkit-transform: translateX(2px) rotate(1deg); }
  80% { -webkit-transform: translateX(-2px) rotate(-1deg); }
  90% { -webkit-transform: translateX(1px) rotate(0); }
  100% { -webkit-transform: translateX(-1px) rotate(0); }
}
@keyframes buzz-out {
  10% { transform: translateX(3px) rotate(2deg); }
  20% { transform: translateX(-3px) rotate(-2deg); }
  30% { transform: translateX(3px) rotate(2deg); }
  40% { transform: translateX(-3px) rotate(-2deg); }
  50% { transform: translateX(2px) rotate(1deg); }
  60% { transform: translateX(-2px) rotate(-1deg); }
  70% { transform: translateX(2px) rotate(1deg); }
  80% { transform: translateX(-2px) rotate(-1deg); }
  90% { transform: translateX(1px) rotate(0); }
  100% { transform: translateX(-1px) rotate(0); }
}

/* animation 5 */
.bdt-ib-animation-5 .icon-box:hover .icon-box-icon i {
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}


/* animation 6 */
.bdt-ib-animation-6 .icon-box-icon i:before {
    position: absolute;
    right: 50%;
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.bdt-ib-animation-6:hover .icon-box-icon i:before {
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-animation-name: icon-drop;
    animation-name: icon-drop;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
@-webkit-keyframes icon-drop {
  0% { opacity: 0; }
  50% { opacity: 0; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  51%, 100% { opacity: 1; }
}

@keyframes icon-drop {
  0% { opacity: 0; }
  50% { opacity: 0; transform: translateY(-100%); }
  51%, 100% { opacity: 1; }
}

/* inside shortcode style */

.bdt-icon-align-right .bdt-list ul li {
  padding: 4px 2em 4px 0 !important;
}
.bdt-icon-align-right .bdt-list ul li i {
  right: 0;
  left: auto;
}

.bdt-icon-box + .bdt-icon-box {
  margin-top: 35px;
}