.icon-list-modern-wrap {
    position: relative;
    z-index: 1;
    .icon-list-modern {
        margin-bottom: 0;
        overflow: hidden;
        .rounded(8px);
    }
    .icon-list-modern {
        .icon-list-modern-item {
            position: relative;
            padding: 45px 80px;
            overflow: initial;
            .rounded(inherit);
            .box-sizing(border-box);
            .head-container {
                position: relative;
                display: table;
                padding-bottom: 15px;
                .icon-wrap,
                .title-wrap {
                    display: table-cell;
                    vertical-align: middle;
                }
                .icon-wrap {
                    font-size: 40px;
                }
                .icon-decoration {
                    position: relative;
                    display: block;
                }
                .title-wrap {
                    padding-left: 25px;
                    .dfd-content-title-big {
                        line-height: 1.3;
                        padding-bottom: 5px;
                    }
                    .dfd-content-subtitle {
                        font-size: 13px;
                        line-height: 1.3;
                    }
                }
            }
            .description {
                position: relative;
            }
            .skew-bg {
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0 10px;
                .rounded(inherit);
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    .rounded(inherit);
                }
            }
            .skew-bg {
                &:before {
                    background: inherit;
                }
            }
        }
        li {
            border-radius: inherit;
            &:first-child {
                .icon-list-modern-item {
                    padding-left: 50px;
                    .skew-bg {
                        margin-left: 0;
                        &:before {
                            width: 150%;
                            right: 0;
                        }
                    }
                }
            }
            &:last-child {
                .icon-list-modern-item {
                    padding-right: 50px;
                    .skew-bg {
                        margin-right: 0;
                        &:before {
                            left: 0;
                            width: 150%;
                        }
                    }
                }
            }
        }
    }
    &.style-1,
    &.style-2 {
        .full-width-element {
            .icon-list-modern-item {
                .skew-bg {
                    .transform(skew(0));
                }
            }
        }
    }
    &.style-1 {
        .icon-list-modern-item {
            .skew-bg {
                .transform(skew(24deg));
            }
        }
    }
    &.style-2 {
        .icon-list-modern-item {
            .skew-bg {
                .transform(skew(-24deg));
            }
        }
    }
}
// iconlist responsive
@media (min-width: @breakpoint-medium) and (max-width : @breakpoint-large-max) {
  .icon-list-modern-wrap {
    .icon-list-modern {
        &.quarter-width-elements {
            > * {
                float: none;
                clear: both;
                width: 100%;
            }
            .icon-list-modern-item {
                margin-bottom: 20px;
                .skew-bg {
                    margin: 0;
                }
                
            }
            li {
                &:first-child {
                    padding-left: 80px;
                    .skew-bg:before {
                        width: 100%;
                    }
                }
                &:last-child {
                    padding-right: 80px;
                    margin-bottom: 0;
                    .skew-bg:before {
                        width: 100%;
                    }
                }
            }
        }
    }
    &.style-1,
    &.style-2 {
      .icon-list-modern {
        &.quarter-width-elements {
          .icon-list-modern-item {
            .skew-bg {
              .transform(skew(0));
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width : @breakpoint-medium-max) {
    .icon-list-modern-wrap {
        .icon-list-modern {
            li {
                .icon-list-modern-item {
                    margin-bottom: 20px;
                    .skew-bg {
                    margin: 0;
                    }
                    &:first-child .skew-bg:before,
                    &:last-child .skew-bg:before {
                        width: 100%;
                    }
                    
                }

                &:first-child {
                    //padding-left: 80px;
                }
                &:last-child {
                    //padding-right: 80px;
                    margin-bottom: 0;
                }
            }
        }

        &.style-1,
        &.style-2 {
            .icon-list-modern-item {
                .skew-bg {
                    .transform(skew(0));
                }
            }
        }
    }
}
@media (min-width: @breakpoint-large) {
    .icon-list-modern-wrap {
        .icon-list-modern {
            &.uk-child-width-1-2\@m {
                li:nth-child(2n+3) {
                    .skew-bg {
                        margin-left: 0;
                        &:before {
                            width: 150%;
                            right: 0;
                            left: auto;
                        }
                    }
                }
                li:nth-child(2n+2) {
                    .skew-bg {
                        margin-right: 0;
                        &:before {
                            width: 150%;
                            right: auto;
                            left: 0;
                        }
                    }
                }
                li:nth-child(n+3) {
                    margin-top: 20px;                    
                }
            }
            &.uk-child-width-1-3\@m {
                li:nth-child(3n+4) {
                    .skew-bg {
                        margin-left: 0;
                        &:before {
                            width: 150%;
                            right: 0;
                            left: auto;
                        }
                    }
                }
                li:nth-child(3n+3) {
                    .skew-bg {
                        margin-right: 0;
                        &:before {
                            width: 150%;
                            right: auto;
                            left: 0;
                        }
                    }
                }
                li:nth-child(n+4) {
                    margin-top: 20px;                    
                }
            }
            &.uk-child-width-1-4\@m {
                li:nth-child(4n+5) {
                    .skew-bg {
                        margin-left: 0;
                        &:before {
                            width: 150%;
                            right: 0;
                            left: auto;
                        }
                    }
                }
                li:nth-child(4n+4) {
                    .skew-bg {
                        margin-right: 0;
                        &:before {
                            width: 150%;
                            right: auto;
                            left: 0;
                        }
                    }
                }
                li:nth-child(n+5) {
                    margin-top: 20px;                    
                }
            }
        }
        &.style-1 {
            .uk-child-width-1-4\@m {
                .icon-list-modern-item {
                    .skew-bg {
                        .transform(skew(18deg));
                    }
                }
            }
        }
        &.style-2 {
             .uk-child-width-1-4\@m {
                .icon-list-modern-item {
                    .skew-bg {
                        .transform(skew(-18deg));
                    }
                }
            }
        }
    }
}
@media only screen and (max-width : 640px) {
  .icon-list-modern-wrap .icon-list-modern-item {
    padding: 40px;
  }
  .icon-list-modern-wrap .icon-list-modern-item:first-child {
    padding-left: 40px;
  }
  .icon-list-modern-wrap .icon-list-modern-item:last-child {
    padding-right: 40px;
  }
}