.bdt-list ul {
    list-style: none !important;
    margin: 0 0 1.5em 0;
    padding: 0;
}

.bdt-list ul li {
    position: relative;
    list-style-type: none !important;
    display: block !important;
    line-height: 1.3em;
    margin: 0 !important;
    padding: 4px 0 4px 2em !important;
}
.bdt-list ul li i {
    position: absolute;
    left: 0;
    top: 4px;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    text-align: center;
}