.bdt-newsletter-wrapper input.bdt-email {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    vertical-align: middle;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid rgba(130,130,130,0.1);
    padding: 8px 16px;
    margin-bottom: 20px;
}
.bdt-newsletter-wrapper input.bdt-submit {
    border: none;
    font-size: 14px;
    border-radius: 0;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    height: 40px;
    color: #fff;
    cursor: pointer;
}
.bdt-newsletter-result {
  display: block;
  margin-top: 8px;
}