.bdt-panel-slider {
    .swiper-container {
        cursor: -webkit-grab;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 50px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 50px;
    }
    .bdt-panel-slide-item {
        .bdt-panel-slide-desc {
            width: 100%;
            padding: 20px 30px;
        }
        .bdt-panel-slide-thumb img {
            opacity: 0.4;
            -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            width: 100%;
        }
        &:hover .bdt-panel-slide-thumb img {
            opacity: 1;
        }

        .bdt-panel-slide-text {
            font-size: 14px;
            h2, a {
                text-transform: uppercase;
            }
        }
        .bdt-panel-slide-link {
            font-weight: 700;
        }
    }
    .bdt-panel-slide-title {
        transition-delay: 50ms;
    }
    .bdt-panel-slide-text {
        transition-delay: 100ms;
    }
}