.bdt-post-slider-3d {
    .swiper-container {
        cursor: -webkit-grab;
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px !important;
            height: 300px !important;
        }
        .swiper-slide-active {
            [class*='uk-transition-slide'] {
                opacity: 1;
                -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
            }
            .uk-transition-fade {
                opacity: 1;
            }
        }
    }
    .bdt-ps3d-desc ul.bdt-ps3d-meta {
        font-size: 12px;
    }
}