.bdt-post-block-modern {
    .bdt-post-block-modern-item {
        .bdt-post-block-modern-excerpt {
            margin-bottom: 10px;
        }
        .bdt-post-block-modern-read-more {
            margin-bottom: 10px;
            margin-right: 10px;
            font-weight: bolder;
            padding-left: 0;
            padding-right: 0;
            display: inline-block;
            .bdt-post-block-modern-read-more-icon-left {
                float: left;
            }
            .bdt-post-block-modern-read-more-icon-right {
                float: right;
            } 
        }
        .bdt-post-block-modern-title {
            margin-bottom: 0;
        }
        .bdt-post-block-modern-desc {
            &.uk-light {
                ul.bdt-post-block-modern-meta {
                    color: rgba(255, 255, 255, 0.65);
                }
                .bdt-post-block-modern-title,
                .bdt-post-block-modern-read-more {
                    color: #fff;
                }
            }
            margin-bottom: 40px;
            ul.bdt-post-block-modern-meta {
                font-weight: bolder;
                margin-bottom: 0;
                margin-top: 0;
                color: #999;
                text-transform: uppercase;
                li a {
                    background: @global-link-color;
                    font-size: 11px;
                    color: #ffffff;
                    padding: 2px 5px;
                    font-weight: normal;
                    border-radius: 2px;
                }
            }
            h4 {
                margin-top: 5px;
            }
            span {
                color: inherit;
            }
        }
        &.left-part {
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            min-height: 350px;
            .bdt-post-block-modern-desc {
                text-align: center;
            }
        }
        &.right-part {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}