.bdt-post-card {
    > div:nth-child(2) {
        .bdt-post-card-item {
            box-shadow: 0 0 0 20px rgba(red(@global-link-color), green(@global-link-color), blue(@global-link-color), 0.7);
            position: relative;
        }
    }
    .bdt-post-card-item {
        background-color: #fff;
        .bdt-post-card-title {
            margin-top: 0;
            margin-bottom: 10px;
        }
        .bdt-post-card-button {
            font-weight: bolder;
            padding-left: 0;
            padding-right: 0;
            margin-right: 10px;
            display: inline-block;
            .bdt-post-card-button-icon-left {
                float: left;
            }
            .bdt-post-card-button-icon-right {
                float: right;
            }
        }
        .bdt-post-card-tag {
            margin-bottom: 10px;
            span a {
                padding: 2px 6px;
                white-space: nowrap;
                text-decoration: none;
                color: #ffffff;
                font-size: 10px;
                text-transform: uppercase;
                background: @global-link-color;
            }
        }
    }
    .bdt-post-card-desc {
        background-color: #fff;
        padding: 50px;
        ul.bdt-post-card-meta {
            color: #999;
            text-transform: uppercase;
            font-weight: bolder;
            margin-top: 0;
            font-size: 12px;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 960px) {
    .bdt-post-card {
        > div:nth-child(2) {
            .bdt-post-card-item {
                margin-top: -20px;
                .bdt-post-card-thumb {
                    display: block;
                    overflow: hidden;
                    img {
                        padding-top: 20px;
                        -webkit-transform: scale(1.33);
                        transform: scale(1.33);
                    }
                }
            }
        }
    }
}