.bdt-post-slider-single {
    .bdt-pss-desc {
        ul.bdt-pss-meta {
            li a {
                background: @global-link-color;
                font-size: 11px;
                color: #ffffff !important;
                padding: 2px 5px;
                font-weight: normal;
                border-radius: 2px;
            }
        }
        span {
            color: inherit;
        }
        ul li {
            list-style-type: none;
        }
    }
    .swiper-pagination {
        width: auto !important;
        left: auto !important;
        bottom: auto !important;
        line-height: 1;
        padding: 0 0 10px 10px;
    }
}