// post carousel
.bdt-post-carousel {
    .swiper-container-horizontal + .swiper-pagination-bullets {
        bottom: -70px;
    }
    .tm-blog-thumbnail {
        img {
            width: 100%;
        }
    }
    h4 {
        a {
            &:before {
                
            }
        }
    }
    .uk-subnav > * > :first-child {
        font-size: 0.75rem;
        font-weight: 400;
        a {
            color: #999;
        }
    }
    
    .bdt-pc-tags {
        span.bdt-pc-tag a {
            background: rgba(red(@background-secondary-background), green(@background-secondary-background), blue(@background-secondary-background), 0.6);
            padding: 4px 8px;
            font-size: 10px;
            color: #fff;
            text-transform: uppercase;
            border-radius: 2px;
        }
    }
}