.bdt-pricing-list {
    .pricing-list-img-icon svg {
        width: 100%;
        height: 100%;
    }
    &.one-half-width-lists {
        .bdt-pricing-list-item:nth-child(2) {
            margin-top: 0 !important;
        }
    }
}