.bdt-plan {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    .uk-icon svg {
        width: 100%;
        height: 100%;
    }
}
.bdt-plan-head {
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.bdt-plan-icon {
    margin-top: 15px;
}
.bdt-plan-icon img {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 95%;
}
.bdt-plan-name {
    margin-bottom: 15px;
    font-size: 1.3em;
}
.bdt-plan-price {
    font-weight: bold;
    font-size: 2.3em;
    line-height: normal;
}

.bdt-plan-price-value {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
}
.bdt-plan-price-before,
.bdt-plan-price-after {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-size: 0.7em;
}
.bdt-plan-period {
    margin-top: 5px;
    font-size: 0.9em;
    opacity: 0.7;
}
.bdt-plan-options ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bdt-plan-options ul li {
    margin: 0;
    padding: 0.5em 0.2em;
    border-top: 1px dotted rgba(221, 221, 221, 0.5);
    list-style: none;
    -webkit-transform: translateZ(0);
}
.bdt-plan-footer {
    padding: 30px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
}
.bdt-plan {
    float: left;
    border-left-width: 0;
}
.bdt-plan-featured {
    z-index: 2;
}
.bdt-plan .bdt-tooltip {
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    padding-bottom: 2px;
    margin-bottom: -3px;
}
.bdt-plan {
    position: relative;
    overflow: hidden;
}
.bdt-plan {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-right: 15px;
}
.bdt-plan:last-child {
    margin-right: 0;
}
.bdt-plan .bdt-plan-head {
    padding-top: 0;
}
.bdt-plan-featured {
    margin-top: -30px !important;
}
.bdt-plan-featured .bdt-plan-badge {
    z-index: 1;
}
 .bdt-plan-name {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.03);
}
.bdt-plan-icon i {
    font-size: 48px;
}
.bdt-plan-featured div.bdt-plan-options {
    margin-top: 30px;
}
.bdt-plan-options ul li {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: none; 
}
.bdt-plan-options ul li:last-child {
    border-bottom: none;
}
.bdt-plan .bdt-plan-badge {
    position: absolute;
    right: -35px;
    top: 23px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 5px 8px;
    width: 125px;
    color: #FFF;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 10px;
    line-height:10px;
}



/*// Mobile Modes*/
@media (max-width: 767px) {
    .bdt-plan {
        clear: both;
        margin-bottom: 30px;
    }
    .bdt-plan:last-child {
        clear: both;
        margin-bottom: 0;
    }
    .bdt-plan-featured .bdt-plan-head {padding: 20px 0; }
    .bdt-plan-featured .bdt-plan-footer {padding: 15px 0;}
    .bdt-plan-featured {
        margin-top: 0;
    }
  .bdt-progress-pie-wrapper, .bdt-member {
    margin-bottom: 30px;
  }
}