.vc_row {
    counter-reset: section;
}
@keyframes shakeleftright {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shaketopbottom {
  from, to {
    transform: rotate(90deg) translate3d(0, 0, 0);
  }

  20%, 60% {
    transform: rotate(90deg) translate3d(-10px, 0, 0);
  }

  40%, 80% {
    transform: rotate(90deg) translate3d(10px, 0, 0);
  }
}


.bdt-process {
    .bdt-process-item {
        display: inline-block;
        .process-img-icon {
            display: block;
            margin: 0 auto;
            border-radius: 0 !important;
            box-shadow: none !important;
            width: 50px;
            height: 50px;
            font-size: 50px;
            &.uk-icon svg {
                width: 100%;
                height: 100%;
            }
        }
        .bdt-pi-icon {
            position: relative;
            display: inline-block;
            .bdt-pi-icon-num {
                position: absolute;
                top: -19px;
                right: -19px;
                display: block;
                width: 30px;
                height: 30px;
                color: #fff;
                box-shadow: 0 0 0 4px rgba(red(@global-link-color), green(@global-link-color), blue(@global-link-color), 0.3);
                box-sizing: border-box;
                background-color: @global-link-color;
                font-size: 16px;
                font-weight: 700;
                line-height: 30px;
                -webkit-transition: all .35s ease-in-out;
                transition: all .35s ease-in-out;
                &:before {
                    counter-increment: section;
                    content: counter(section);
                }
            }
            &.uk-border-circle {
                .bdt-pi-icon-num {
                    top: 12px;
                    right: 12px;
                }
            }
            &:after {
                content: '';
                background-image: url(../images/process-arrow-dotted-right.svg);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                right: -155px;
                width: 100%;
                height: 100%;
                background-size: 30% 30%;
                top: 0;
            }
        }
        &:nth-child(4n) {
            .bdt-pi-icon:after {
                display: none;
            }
        }
        &:last-child {
            .bdt-pi-icon:after {
                display: none;
            }
        }
        &:hover {
            .bdt-pi-icon:after {
                animation: shakeleftright 0.75s ease-in-out 1 alternate;
                -webkit-animation: shakeleftright 0.75s ease-in-out 1 alternate;
            }
            .bdt-pi-icon-num {
                box-shadow: 0 0 0 4px @global-link-color;
            }
        }
    }
}
.uk-light {
    .bdt-process {
        .bdt-pi-icon:after {
            background-image: url(../images/process-arrow-dotted-right-white.svg) !important;
        }
    }
}
@media only screen and (max-width: 1199px) and (min-width: 960px) {
    .bdt-process {
        .bdt-pi-icon:after {
            right: -110px !important;
        }
        .bdt-pi-icon-num {
            top: 0 !important;
            right: 0 !important;
        }
    }
}
@media (max-width: 959px) {
    .bdt-process {
        .bdt-pi-icon {
            padding: 70px !important;
            &:after {
                right: auto !important;
                top: 210px !important;
                left: 0px !important;
                -webkit-transform: rotate(90deg) !important;
                transform: rotate(90deg) !important;
            }
        }
        .bdt-pi-text {
            margin-bottom: 80px !important;
        }
        .bdt-process-item {
            &:hover {
                .bdt-pi-icon:after {
                    animation: shaketopbottom 0.75s ease-in-out 1 alternate;
                    -webkit-animation: shaketopbottom 0.75s ease-in-out 1 alternate;
                }
            }
            &:nth-child(4n) {
                .bdt-pi-icon:after {
                    display: block;
                }
            }
            &:last-child {
                .bdt-pi-text {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}