.bdt-progress-pie {
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  padding-bottom: 20px;
}
.bdt-progress-pie svg {
  margin: 0 auto;
}
.bdt-progress-pie-label {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bdt-progress-pie-number, 
.bdt-progress-pie-text {
  font-size: 22px;
}
.bdt-progress-pie-label div {
  line-height: 1.2em;
}
.bdt-progress-pie-svg {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.bdt-progress-pie-svg svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.bdt-progress-pie .bdt-progress-pie-number,
.bdt-progress-pie .bdt-progress-pie-text {
  font-size: 32px;
  font-weight: 700;
}
.bdt-progress-pie svg ellipse {
  stroke: #f5f5f5;
}
.bdt-progress-pie svg path {
  stroke: #F14B51;
}
.bdt-progress-pie.bdt-pp-lc-square svg path {
  stroke-linecap: square;
}
.bdt-progress-pie.bdt-pp-lc-round svg path {
  stroke-linecap: round;
}
.bdt-progress-pie.bdt-pp-lc-butt svg path {
  stroke-linecap: butt;
}

/* Progress Pie After Title */
.bdt-progress-pie-wrapper .bdt-progress-pie-title {
  text-align: center;
  padding: 30px;
  margin: 0;
  font-size: 1.1rem;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}