@import 'assistant-carousel.less';
@import 'blog-list.less';
@import 'blog-post.less';
@import 'callout.less';
@import 'countdown.less';
@import 'counter.less';
@import 'featured-icon-box.less';
@import 'featured-post.less';
@import 'flickr.less';
@import 'heading.less';
@import 'icon.less';
@import 'icon-box.less';
@import 'icon-box-modern.less';
@import 'list.less';
@import 'newsletter.less';
@import 'panel-slider.less';
@import 'photo-gallery.less';
@import 'post-block.less';
@import 'post-block-modern.less';
@import 'post-card.less';
@import 'post-carousel.less';
@import 'post-slider-3d.less';
@import 'post-slider-single.less';
@import 'pricing-list.less';
@import 'pricing-plan.less';
@import 'process.less';
@import 'progress-bar.less';
@import 'progress-pie.less';
@import 'spacer.less';
@import 'slider.less';
@import 'testimonial.less';
@import 'testimonial-carousel.less';
@import 'testimonial-slider.less';
@import 'thumb-gallery.less';
@import 'typewriter.less';
@import 'trailer-box.less';
@import 'video-lightbox.less';


.bdt-clearfix:before,
.bdt-clearfix:after {
    display: table;
    content: " ";
}
.bdt-clearfix:after { clear: both;}

/* utility style  */
.no-margin-bottom {
    margin-bottom: 0;
}

.bdt-post-slider-3d, 
.bdt-service-carousel,
.bdt-custom-carousel,
.bdt-testimonial-slider {
	position: relative;
	.swiper-pagination-fraction, 
	.swiper-pagination-custom, 
	.swiper-container-horizontal .swiper-pagination-bullets, 
	.swiper-container-horizontal + .swiper-pagination-bullets {
		bottom: -35px;
	}

	.swiper-button-next {
		right: 20px;
	}
	.swiper-button-prev {
		left: 20px;
	}

	.swiper-button-prev, .swiper-button-next {
		background-size: 20px 32px;
	}
}

.swiper-container {
	.swiper-slide {
		.uk-subnav > *:not(:last-child)::after {
		    content: "";
		    width: 3px;
		    height: 3px;
		    border-radius: 3px;
		    background-color: #999;
		    position: absolute;
		    right: -12px;
		    top: 50%;
		    margin-bottom: -1px;
		    -webkit-transform: translateY(-50%);
		    -moz-transform: translateY(-50%);
		    -o-transform: translateY(-50%);
		    transform: translateY(-50%);
		}
	}
}

.swiper-button-prev, .swiper-button-next {
	background-size: 50% auto !important;
}

.swiper-pagination-bullets {
	.swiper-pagination-bullet,
	.swiper-pagination-bullet-active {
		background: none !important;
	}
}

.bdt-cnp-inside {
	.swiper-button-next {
		right: 20px;
	}
	.swiper-button-prev {
		left: 20px;
	}
}
.bdt-cnp-outside {
	.swiper-button-next {
		right: -80px;
	}
	.swiper-button-prev {
		left: -80px;
	}
}

// All carousel type element
.bdt-post-carousel,
.bdt-service-carousel,
.bdt-assistant-carousel,
.bdt-testimonial-carousel {
	.swiper-container {
	    padding: 10px;
	    margin: 0 -10px;
	}
}
/* End of Carousel Style */

/* Rating */
.bdt-rating {
	color: #e6e6e6;
	polygon {
		fill: #e6e6e6;
	}
	&.bdt-rating-1 {
		.bdt-rating-item:nth-child(1) {
			color: #FFCC00;
			polygon {
				fill: #FFCC00;
			}
		}
	}
	&.bdt-rating-2 {
		.bdt-rating-item:nth-child(-n+2) {
			color: #FFCC00;
			polygon {
				fill: #FFCC00;
			}
		}
	}
	&.bdt-rating-3 {
		.bdt-rating-item:nth-child(-n+3) {
			color: #FFCC00;
			polygon {
				fill: #FFCC00;
			}
		}
	}
	&.bdt-rating-4 {
		.bdt-rating-item:nth-child(-n+4) {
			color: #FFCC00;
			polygon {
				fill: #FFCC00;
			}
		}
	}
	&.bdt-rating-5 {
		.bdt-rating-item:nth-child(-n+5) {
			color: #FFCC00;
			polygon {
				fill: #FFCC00;
			}
		}
	}
}
/* End of Rating */