.bdt-slider {
    .swiper-container {
        cursor: -webkit-grab;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 50px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 50px;
    }
    .bdt-slide-item {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        .bdt-slide-desc {
            color: rgba(255, 255, 255, 0.7);
        }
        .bdt-slide-title,
        .bdt-slide-text,
        .bdt-slide-link {
            -webkit-transition: all 400ms cubic-bezier(0.19, 0.6, 0.58, 1);
            transition: all 400ms cubic-bezier(0.19, 0.6, 0.58, 1);
            opacity: 0;
            transform: translateX(50px);
        }
        .bdt-slide-title {
            transition-delay: 500ms;
            display: inline-block;
            margin: 0;
            color: inherit;
        }
        .bdt-slide-text {
            transition-delay: 700ms;
            p:last-child {
                margin-bottom: 0;
            }
        }
        .bdt-slide-link {
            transition-delay: 900ms;
            display: inline-block;
            margin-top: 10px;
            .bdt-slide-link-icon-left {
                float: left;
            }
            .bdt-slide-link-icon-right {
                float: right;
            } 
        }
        &.swiper-slide-active {
            .bdt-slide-title,
            .bdt-slide-text,
            .bdt-slide-link {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    .bdt-slide-effect-left {
        .bdt-slide-title,
        .bdt-slide-text,
        .bdt-slide-link {
            transform: translateX(50px);
        }

        &.swiper-slide-active {
            .bdt-slide-title,
            .bdt-slide-text,
            .bdt-slide-link {
                transform: translateX(0);
            }
        }
    }

    .bdt-slide-effect-bottom {
        .bdt-slide-title,
        .bdt-slide-text,
        .bdt-slide-link {
            transform: translateY(50px);
        }

        &.swiper-slide-active {
            .bdt-slide-title,
            .bdt-slide-text,
            .bdt-slide-link {
                transform: translateY(0);
            }
        }
    }
}