.bdt-spacer {display: block;height: 20px;clear: both;overflow: hidden;}
@media only screen and (min-width: 768px) and (max-width: 960px) {.bdt-spacer{height: 15px;}}
@media (max-width: 767px) {.bdt-spacer{height: 10px;}}