.bdt-testimonial-carousel {
    .swiper-button-prev, 
    .swiper-container-rtl .swiper-button-next {
        left: 10px;
    }
    .swiper-button-next, 
    .swiper-container-rtl .swiper-button-prev {
        right: 10px;
    }

    .bdt-testimonial-carousel-item-wrapper {
        position: relative;
        box-sizing: border-box;
        background-color: #fff;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        .testimonial-item-header {
            padding: 20px 40px;
            border-bottom: 1px solid rgba(175, 175, 175, 0.15);
            .bdt-testimonial-carousel-title {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }
        .bdt-testimonial-carousel-text {
            padding: 20px 40px;
        }
    }
    
    .bdt-testimonial-carousel-img-wrapper {
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        width: 80px;
        height: 80px;
    }
    &.uk-light {
        .bdt-testimonial-carousel-text {
            color: rgba(255,255,255,0.7);
        }
    }
    &[class*="uk-background-"] {
        padding: 50px 0;
        .bdt-rating[class*="bdt-rating-"] .bdt-rating-item:nth-child(-n+4) {
            color: #fff;
        }
    }
}

@media (max-width: @breakpoint-medium-max) {
    .bdt-testimonial-carousel {
        .swiper-pagination-bullets {
            bottom: -35px !important;
        }
    }
}

@media (min-width: @breakpoint-medium) {
    .bdt-testimonial-carousel {
        .swiper-pagination-bullets {
            left: -35px !important;
            top: 50%;
            bottom: auto !important;
            -webkit-transform:translate3d(0px,-50%,0);
            -moz-transform:translate3d(0px,-50%,0);
            -o-transform:translate(0px,-50%);
            -ms-transform:translate3d(0px,-50%,0);
            transform:translate3d(0px,-50%,0);
            width: auto !important;
            .swiper-pagination-bullet {
                margin: 10px 0 !important;
                display: block;
            }
        } 
    } 
}