.bdt-thumb-gallery {
    .bdt-tg-container {
        .swiper-slide {
            img {
                width: 100%;
                height: auto;
            }
            a.bdt-tg-dbtn {
                height: 100%;
                margin-right: -63px;
                background-color: #444;
                padding: 0 20px;
                .transition(all 0.3s cubic-bezier(0.21, 0.44, 0.25, 0.93));
                &:hover {
                    background: #222;
                    color: #fff;
                }
            }
            .bdt-tg-caption {
                padding: 20px;
                left: 30px;
                max-width: 72%;
                opacity: 0;
                .transform(translateX(100px));
                .transition(all 0.7s cubic-bezier(0.21, 0.44, 0.25, 0.93));
                .transition-delay(0.2s);
                &:hover {
                    a.bdt-tg-dbtn {
                        border-radius: 0 55px 55px 0;
                    }
                }

            }
            &.swiper-slide-active {
                .bdt-tg-caption {
                    opacity: 1;
                    .transform(translateX(0));
                }
            }
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
            right: 30px;
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
            left: 30px;
        }
    }
    .bdt-tgt-container {
        .swiper-slide {
            opacity: 0.6;
            cursor: pointer;
        }
        .swiper-slide-active {
            opacity: 1;
        }
    }

    &.bdt-thumb-gallery-style-1 {
        .bdt-tg-caption {
            bottom: 30px;
            border-radius: 3px 0 0 3px;
        }
        a.bdt-tg-dbtn {
            border-radius: 0 5px 4px 0;
        }
        border: 1px solid rgba(0,0,0,0.1);
        background: #fff;
        padding: 10px 10px 5px 10px;
        .bdt-tgt-container {
            position: relative;
            margin-top: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: -10px;
                background-color: rgba(0,0,0,0.1);
                width: ~"calc(100% + 20px)";
                height: 1px;
            }
            .swiper-slide {
                margin-right: 5px;
                margin-top: 5px;
                width: 80px;
                height: 80px;
                background-size: cover;
            }
        }
        .swiper-slide {
            &:after {
                background: rgba(0,0,0,0.3);
            }
        }
        .cbp-pagination-active {
            &:after {
                background: transparent;
            }
        }
    }
    &.bdt-thumb-gallery-style-2 {
        .bdt-tgt-container {
            z-index: 11;
            background: #fff;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: #f5f5f5;
            .swiper-slide {
                top: -26px;
                margin-top: 0;
                z-index: 11;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0px;
                }
                img {
                    -webkit-box-shadow: 0 0 0 6px #fff;
                    box-shadow: 0 0 0 6px #fff;
                    border-radius: 50%;
                    height: 52px;
                    width: 52px;
                    -webkit-transition: transform .25s ease;
                    transition: transform .25s ease;
                }
            }
            .cbp-pagination-active {
                img {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                    -webkit-box-shadow: 0 0 0 5px #fff, 0 3px 15px 0px rgba(0, 0, 0, 0.3);
                    box-shadow: 0 0 0 5px #fff, 0 3px 15px 0px rgba(0, 0, 0, 0.3);
                }
            }
        }
        .swiper-slide {
            &:after {
                display: none;
            }
        }
        .bdt-tg-caption {
            top: 15px;
        }
        .cbp-nav-controls {
            >div {
                background-color: transparent;
                top: auto;
                bottom: -69px;
                opacity: 1;
                border: 1px solid #f5f5f5;
                border-radius: 50%;
            }
        }
    }
    &.bdt-thumb-gallery-style-3 {
        .bdt-tgt-container {
            z-index: 11;
            background: #fbfbfb;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: #f5f5f5;
            padding: 15px 0 10px;
            .swiper-slide {
                margin-top: 0;
                z-index: 11;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                img {
                    -webkit-box-shadow: 0 0 0 5px #fff;
                    box-shadow: 0 0 0 5px #fff;
                    border-radius: 50%;
                    height: 52px;
                    width: 52px;
                    -webkit-transition: all .25s ease;
                    transition: all .25s ease;
                }
            }
            .cbp-pagination-active {
                img {
                    -webkit-box-shadow: 0 0 0 5px #444, 0 5px 8px 0px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0 0 5px #444, 0 5px 8px 0px rgba(0, 0, 0, 0.1);
                }
            }
        }
        .swiper-slide {
            &:after {
                display: none;
            }
        }
        .bdt-tg-caption {
            bottom: 15px;
        }
        a.bdt-tg-dbtn {
            &:hover {
                background: #222;
            }
        }
        .cbp-nav-controls {
            >div {
                top: auto;
                bottom: -82px;
                opacity: 1;
                border: 2px solid #f5f5f5;
                border-radius: 50%;
                &:hover {
                    border: 2px solid rgba(165, 165, 165, 0.5);
                }
            }
        }
    }
    &.bdt-thumb-gallery-style-4 {
        position: relative;
        .bdt-tgt-container {
            position: absolute;
            bottom: 10px;
            z-index: 11;
            left: 15px;
            .swiper-slide {
                img {
                    -webkit-transition: all .4s ease;
                    transition: all .4s ease;
                }
                &:not(.cbp-pagination-active) {
                    img {
                        opacity: 0.4;
                    }
                }
            }
        }
        .bdt-tg-caption {
            background: rgba(0,0,0,0.5);
            top: 15px;
            h4 {
                color: #fff;
            }
            p {
                color: #ddd;
            }
        }
        a.bdt-tg-dbtn {
            background-color: rgba(255,255,255,0.5);
            color: #000;
            &:hover {
                background-color: rgba(255,255,255,0.65);
                color: #000;
            }
        }
        .swiper-slide {
            &:after {
                display: none;
            }
        }
        .cbp-nav-controls {
            >div {
                background-color: rgba(255,255,255,0.5);
                border-radius: 0;
                &:hover {
                    background-color: rgba(255,255,255,0.65);
                }
            }
        }
    }
    &.bdt-thumb-gallery-style-5 {
        .bdt-tgt-container {
            .swiper-slide {
                img {
                    -webkit-transition: all .4s ease;
                    transition: all .4s ease;
                }
                &:not(.cbp-pagination-active) {
                    img {
                        opacity: 0.4;
                    }
                }
                margin-top: 0;
                z-index: 11;
                margin-right: 0;
                float: left;
                overflow: hidden;
            }
            background: #fff;
            border-width: 0 1px 1px 0px;
            border-style: solid;
            border-color: #f5f5f5;
            height: 100px;
            img {
                display: block;
                width: 100%;
                height: auto;
                border: 0;
            }
        }
        .swiper-slide {
            &:after {
                display: none;
            }
        }
        .bdt-tg-caption {
            border-radius: 3px 0 0 3px;
            bottom: 15px;
            padding-right: 45px;
        }
        a.bdt-tg-dbtn {
            margin-right: -35px;
            padding: 0 10px;
            -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
            border-radius: 0px 5px 3px 1px;
            svg {
                -webkit-transform: skewX(20deg);
                transform: skewX(20deg);
            }
        }
        .cbp-nav-prev {
            right: 40px;
            left: auto;
        }
        .cbp-nav-controls {
            >div {
                bottom: -150px;
                height: 100px;
                top: auto;
                background-color: transparent;
                background-size: 30% 30%;
                opacity: 1;
                border-radius: 0;
                &:before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background: #f5f5f5;
                    left: 0;
                    top: 0;
                }
            }
        }
        .cbp-nav-next {
            right: 0;
        }
    }
}
@media screen and (max-width: 480px) {
    .bdt-thumb-gallery {
        .bdt-tg-caption {
            display: none;
        }
        &.bdt-thumb-gallery-style-2 {
            .bdt-tgt-container {
                height: 60px;
                .swiper-slide {
                    display: none;
                }
            }
        }
        &.bdt-thumb-gallery-style-3 {
            .bdt-tgt-container {
                height: 60px;
                .swiper-slide {
                    display: none;
                }
            }
        }
        &.bdt-thumb-gallery-style-5 {
            .bdt-tgt-container {
                .swiper-slide {
                    display: none;
                }
            }
        }
    }
}