.bdt-trailer-box {
	img {
		width: 100%;
	}
	.bdt-trailer-box-desc-inner {
		.bdt-trailer-box-title, 
		.bdt-trailer-box-text,
		.bdt-trailer-box-button {
			-webkit-transform: translateY(10px);
			transform: translateY(10px);
			-webkit-transition: all .25s cubic-bezier(0.13, 0.51, 0.58, 1);
			transition: all .25s cubic-bezier(0.13, 0.51, 0.58, 1);
		}
		.bdt-trailer-box-text {
			transition-delay: 50ms;
		}
		.bdt-trailer-box-button {
			transition-delay: 100ms;
		}
	}
	&:hover {
		.bdt-trailer-box-title, 
		.bdt-trailer-box-text,
		.bdt-trailer-box-button {
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
		}
	}
}
.elementor-widget-trailer-box {
	.elementor-background-overlay {
		transition: all 0.3s ease-out;
		border-radius: inherit;
	}
	.elementor-widget-container {
		position: relative;
	}
}