.bdt-video-lightbox {
    .bdt-video-lightbox-button {
        text-decoration: none;
        outline: none;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        &:hover {
            opacity: 0.9;
        }
    }
    &:hover {
        .bdt-video-lightbox-button {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}