@import 'twentytwenty.less';

.elementor-widget-featured-icon-box {
    .bdt-featured-icon-box {
        margin-top: 0;
        border: none;
    }
}

.elementor-widget-posts .uk-subnav > *:not(:last-child)::after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #999;
    position: absolute;
    right: -12px;
    top: 50%;
    margin-bottom: -1px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.elementor-widget-posts .uk-subnav span {
    font-size: 0.775rem;
}



/*! elementor-extend */
.elementor-editor-active .elementor.elementor-edit-mode .elementor-widget.elementor-global-widget:hover {
    outline: 1px solid #fec449;
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-global-widget .elementor-editor-widget-settings {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#feb416), to(#fec449));
    background-image: -webkit-linear-gradient(bottom, #feb416, #fec449);
    background-image: -o-linear-gradient(bottom, #feb416, #fec449);
    background-image: linear-gradient(to top, #feb416, #fec449);
}
.elementor-editor-active .elementor.elementor-edit-mode .elementor-global-widget .elementor-editor-widget-settings .elementor-editor-element-setting:hover {
    background-color: #feb416;
}
.elementor-editor-active .elementor.elementor-edit-mode .elementor-global-widget .elementor-editor-widget-settings .elementor-editor-element-setting.elementor-editor-element-save {
    display: none;
}

// post element style 
.bdt-posts-container {
    .bdt-post__thumbnail {
        overflow: hidden;
    }
    .bdt-post__thumbnail img {
        display: block;
        width: 100%;
        max-height: none;
        max-width: none;
    }
    .bdt-post__thumbnail__link {
        position: relative;
        display: block;
        width: 100%;
    }
    &.elementor-has-item-ratio .bdt-post__thumbnail {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .bdt-posts-container.elementor-has-item-ratio .bdt-post__thumbnail img {
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    &.elementor-has-item-ratio .bdt-post__thumbnail.elementor-fit-height img {
        height: 100%;
        width: auto;
    }
}

.bdt-posts .bdt-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
 }
  .bdt-posts .bdt-post__title {
    font-size: 20px;
    margin: 0;
}
  .bdt-posts .bdt-post__excerpt {
    margin-bottom: 10px;
}
  .bdt-posts .bdt-post__excerpt p {}
  .bdt-posts .bdt-post__meta-data {
    line-height: 1.3em;
    font-size: 12px;
    margin-bottom: 13px;
    color: #adadad;
}
  .bdt-posts .bdt-post__read-more {
    font-size: 12px;
    font-weight: bold;
}
  .bdt-posts .bdt-post__thumbnail {
    position: relative;
}

.bdt-posts--skin-classic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      }
  .bdt-posts--skin-classic .bdt-post__thumbnail__link {
    margin-bottom: 20px;
}

.bdt-posts--align-left .bdt-post {
  text-align: left;
}

.bdt-posts--align-right .bdt-post {
  text-align: right;
}

.bdt-posts--align-center .bdt-post {
  text-align: center;
}

.bdt-posts--thumbnail-top .bdt-post {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
      }
  .bdt-posts--thumbnail-top .bdt-post__text {
    width: 100%;
}

.bdt-posts--thumbnail-top.bdt-posts--align-left .bdt-post__thumbnail__link {
  margin-right: auto;
}

.bdt-posts--thumbnail-top.bdt-posts--align-right .bdt-post__thumbnail__link {
  margin-left: auto;
}

.bdt-posts--thumbnail-top.bdt-posts--align-center .bdt-post__thumbnail__link {
  margin-right: auto;
  margin-left: auto;
}

.bdt-posts--thumbnail-left .bdt-post__thumbnail__link, 
.bdt-posts--thumbnail-right .bdt-post__thumbnail__link {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 25%;
}

.bdt-posts--thumbnail-left .bdt-post__thumbnail__link {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  margin-right: 20px;
}

.bdt-posts--thumbnail-right .bdt-post__thumbnail__link {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
  margin-left: 20px;
}

.bdt-posts--thumbnail-none .bdt-posts-container .bdt-post__thumbnail__link {
  display: none;
}

.bdt-posts .bdt-post__card {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  border: 0 solid @global-secondary-background;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
  .bdt-posts .bdt-post__card .bdt-post__thumbnail {
    position: relative;
}
    .bdt-posts .bdt-post__card .bdt-post__thumbnail img {
      width: calc( 100% + 1px);
  }
  .bdt-posts .bdt-post__card .bdt-post__text {
    padding: 0 30px;
    margin-bottom: 0;
    margin-top: 20px;
}
  .bdt-posts .bdt-post__card .bdt-post__read-more {
    margin-bottom: 20px;
    display: inline-block;
}
  .bdt-posts .bdt-post__card .bdt-post-meta {
       padding-top: 20px;
       margin-left: 0;
       border-top: 1px solid #eaeaea;
       padding-left: 10px;
       padding-right: 25px;
    }
    .bdt-posts .bdt-post__card .bdt-post__meta-data span + span:before {
      margin: 0 5px;
  }
  .bdt-posts .bdt-post__card .bdt-post__title {
    font-size: 21px;
}
  .bdt-posts .bdt-post__card .bdt-post__excerpt {
    line-height: 1.7;
}
  .bdt-posts .bdt-post__card .bdt-post__excerpt, .bdt-posts .bdt-post__card .bdt-post__title {
    margin-bottom: 25px;
}
  .bdt-posts .bdt-post__card .bdt-post__badge, .bdt-posts .bdt-post__card .bdt-post__read-more {
    text-transform: uppercase;
}

.bdt-posts .bdt-post__badge {
    position: absolute;
    top: 0;
    background: @global-link-color;
    color: #fff;
    font-size: 11px;
    line-height: 1;
    background: #f864a6;
    font-size: 11px;
    color: #ffffff !important;
    padding: 5px 7px;
    font-weight: normal;
    border-radius: 2px;
    margin: 20px;
}

.bdt-posts .bdt-post__avatar {
  position: relative;
  padding: 0 30px;
  width: 100%;
  top: -25px;
  height: 0;
  pointer-events: none;
}
  .bdt-posts .bdt-post__avatar img {
    border-radius: 50%;
    width: 60px;
    pointer-events: all;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

.bdt-posts--thumbnail-top .bdt-posts--skin-cards:not(.bdt-posts-masonry) .bdt-post, .bdt-posts .bdt-posts--skin-cards:not(.bdt-posts-masonry) .bdt-post {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
      }
  .bdt-posts--thumbnail-top .bdt-posts--skin-cards:not(.bdt-posts-masonry) .bdt-post__card, .bdt-posts .bdt-posts--skin-cards:not(.bdt-posts-masonry) .bdt-post__card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
        }
  .bdt-posts--thumbnail-top .bdt-posts--skin-cards:not(.bdt-posts-masonry) .bdt-post__meta-data, .bdt-posts .bdt-posts--skin-cards:not(.bdt-posts-masonry) .bdt-post__meta-data {
    margin-top: auto;
}

.bdt-posts--thumbnail-none .bdt-post__card .bdt-post__avatar {
  padding-top: 0;
  position: static;
  height: auto;
}
  .bdt-posts--thumbnail-none .bdt-post__card .bdt-post__avatar img.avatar {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    vertical-align: bottom;
}

.bdt-posts--show-avatar .bdt-post__thumbnail__link {
  margin-bottom: 25px;
}

.bdt-posts__hover-gradient .bdt-post__card .bdt-post__thumbnail__link:after {
  display: block;
  content: '';
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.35)), color-stop(75%, transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.35) 0%, transparent 75%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.35) 0%, transparent 75%);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, transparent 75%);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.bdt-posts__hover-gradient .bdt-post__card:hover .bdt-post__thumbnail__link:after {
  opacity: 0.5;
}

.bdt-posts__hover-zoom-in .bdt-post__card .bdt-post__thumbnail.elementor-fit-height img {
  height: 100%;
}

.bdt-posts__hover-zoom-in .bdt-post__card .bdt-post__thumbnail:not(.elementor-fit-height) img {
  width: calc( 100% + 1px);
}

.bdt-posts__hover-zoom-in .bdt-post__card:hover .bdt-post__thumbnail.elementor-fit-height img {
  height: 115%;
}

.bdt-posts__hover-zoom-in .bdt-post__card:hover .bdt-post__thumbnail:not(.elementor-fit-height) img {
  width: 115%;
}

.bdt-posts__hover-zoom-out .bdt-post__card .bdt-post__thumbnail.elementor-fit-height img {
  height: 115%;
}

.bdt-posts__hover-zoom-out .bdt-post__card .bdt-post__thumbnail:not(.elementor-fit-height) img {
  width: 115%;
}

.bdt-posts__hover-zoom-out .bdt-post__card:hover .bdt-post__thumbnail.elementor-fit-height img {
  height: 100%;
}

.bdt-posts__hover-zoom-out .bdt-post__card:hover .bdt-post__thumbnail:not(.elementor-fit-height) img {
  width: calc( 100% + 1px);
}

.bdt-posts__hover-zoom-out .bdt-post__thumbnail img, .bdt-posts__hover-zoom-in .bdt-post__thumbnail img {
  -webkit-transition: height 1s cubic-bezier(0, 0.25, 0.07, 1), width 1s cubic-bezier(0, 0.25, 0.07, 1);
  -o-transition: height 1s cubic-bezier(0, 0.25, 0.07, 1), width 1s cubic-bezier(0, 0.25, 0.07, 1);
  transition: height 1s cubic-bezier(0, 0.25, 0.07, 1), width 1s cubic-bezier(0, 0.25, 0.07, 1);
}

.elementor ul li.elementor-portfolio__filter {
  list-style-type: none;
}

.elementor-login .elementor-remember-me,
.elementor-login .elementor-lost-password {
  font-size: 0.85em;
}

// Pricie list style
.elementor-widget-price-list .bdt-price-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
  .elementor-widget-price-list .bdt-price-list li {
    margin: 0;
}

.bdt-price-list li:not(:last-child) {
  margin-bottom: 20px;
}

.bdt-price-list .bdt-price-list-image {
  max-width: 50%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-right: 25px;
}
  .bdt-price-list .bdt-price-list-image img {
    width: 100%;
}

.bdt-price-list .bdt-price-list-text,
.bdt-price-list .bdt-price-list-item,
.bdt-price-list .bdt-price-list-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bdt-price-list .bdt-price-list-item {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
      }
  .bdt-price-list .bdt-price-list-item .bdt-price-list-text {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
        }
  .bdt-price-list .bdt-price-list-item .bdt-price-list-header {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}
  .bdt-price-list .bdt-price-list-item .bdt-price-list-title {
    max-width: 80%;
}
  .bdt-price-list .bdt-price-list-item p.bdt-price-list-description {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    font-size: 14px;
    margin: 0;
}
  .bdt-price-list .bdt-price-list-item .bdt-price-list-separator {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    height: 0;
}

// Pricing table style
.bdt-price-table {
    text-align: center;
    .bdt-price-table__header {
        background: @global-secondary-background;
        padding: 20px 0;
    }
    .bdt-price-table__heading {
        margin: 0;
        padding: 0;
        line-height: 1.2;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }
    .bdt-price-table__subheading {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
    }
    .bdt-price-table__original-price {
        margin-right: 15px;
        text-decoration: line-through;
        font-size: 0.5em;
        line-height: 1;
        font-weight: 400;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .bdt-price-table__price {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        color: #555;
        font-weight: 800;
        font-size: 65px;
        padding: 40px 0;
    }
    .bdt-price-table__price .elementor-typo-excluded {
        line-height: initial;
        letter-spacing: initial;
        text-transform: initial;
        font-weight: initial;
        font-size: initial;
        font-style: initial;
    }
    .bdt-price-table__after-price {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: left;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .bdt-price-table__integer-part {
        line-height: 0.8;
    }
    .bdt-price-table__currency, .bdt-price-table__fractional-part {
        line-height: 1;
        font-size: 0.3em;
    }
    .bdt-price-table__currency {
        margin-right: 3px;
    }
    .bdt-price-table__period {
        width: 100%;
        font-size: 13px;
        font-weight: 400;
    }
    .bdt-price-table__features-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    .bdt-price-table__features-list li {
        font-size: 14px;
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    .bdt-price-table__features-list li .bdt-price-table__feature-inner {
        margin-left: 15px;
        margin-right: 15px;
    }
    .bdt-price-table__features-list li:not(:first-child):before {
        content: '';
        display: block;
        border: 0 solid rgba(122, 122, 122, 0.3);
        margin: 10px 12.5%;
    }
    .bdt-price-table__features-list i {
        margin-right: 10px;
        font-size: 1.3em;
    }
    .bdt-price-table__footer {
        padding: 30px 0;
    }
    .bdt-price-table__additional_info {
        margin: 10px 0 0 0;
        font-size: 13px;
        line-height: 1.4;
    }
}

  .bdt-price-table__ribbon {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 150px;
    overflow: hidden;
    height: 150px;
}
    .bdt-price-table__ribbon-inner {
      text-align: center;
      left: 0;
      width: 200%;
      -webkit-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
          -ms-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
              transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
      margin-top: 35px;
      font-size: 13px;
      line-height: 2;
      font-weight: 800;
      text-transform: uppercase;
      background: #000;
  }
    .bdt-price-table__ribbon.elementor-ribbon-left {
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      left: 0;
      right: auto;
  }
    .bdt-price-table__ribbon.elementor-ribbon-right {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      left: auto;
      right: 0;
  }

.elementor-widget-price-table .elementor-widget-container {
  overflow: hidden;
  background-color: @global-muted-background;
}



// Flipbox style
.bdt-flip-box {
  height: 280px;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  .elementor-icon {
    color: #fff;
  }
  .elementor-view-framed {
    .elementor-icon {
      color: #fff;
      border-color: #fff;
    }
  }
  .elementor-view-stacked {
    .elementor-icon {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .elementor-icon-wrapper {
    margin-bottom: 20px;
  }
}
.bdt-flip-box__front {
  background-color: #1abc9c;
}
.bdt-flip-box__back {
  background-color: #4054b2;
  display: block;
}
.bdt-flip-box__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.bdt-flip-box__layer__overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
  padding: 35px;
}
.bdt-flip-box__layer__title {
  font-size: 21px;
  color: #fff;
  line-height: 1;
  font-weight: 600;
  &:not(:last-child) {
    margin: 0 0 20px 0;
    padding: 0;
  }
}
.bdt-flip-box__layer__description {
  font-size: 14px;
  color: #fff;
  &:not(:last-child) {
    margin: 0 0 20px 0;
    padding: 0;
  }
}
.bdt-flip-box__button.elementor-button {
  cursor: pointer;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px white;
  color: white;
  background: transparent;
  &:hover {
    background: transparent;
    text-decoration: none;
  }
}
.bdt-flip-box__image {
  margin: 0 0 20px 0;
  display: inline-block;
  //width: 100%;
  img {
    width: 50%;
  }
}
.bdt-flip-box--3d {
  .bdt-flip-box__layer__inner {
    -webkit-transform: translateZ(90px) scale(0.91);
    transform: translateZ(90px) scale(0.91);
  }
  .bdt-flip-box__layer__overlay {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0.1px);
    transform: translateZ(0.1px);
  }
}
.bdt-flip-box--effect-flip {
  .bdt-flip-box {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &:hover {
      .bdt-flip-box__back {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }
  }
  .bdt-flip-box__layer {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .bdt-flip-box__front {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    z-index: 1;
  }
}
.bdt-flip-box--effect-flip.bdt-flip-box--direction-right {
  .bdt-flip-box__back {
    -webkit-transform: rotateX(0) rotateY(-180deg);
    transform: rotateX(0) rotateY(-180deg);
  }
  .bdt-flip-box {
    &:hover {
      .bdt-flip-box__front {
        -webkit-transform: rotateX(0) rotateY(180deg);
        transform: rotateX(0) rotateY(180deg);
      }
    }
  }
}
.bdt-flip-box--effect-flip.bdt-flip-box--direction-left {
  .bdt-flip-box__back {
    -webkit-transform: rotateX(0) rotateY(180deg);
    transform: rotateX(0) rotateY(180deg);
  }
  .bdt-flip-box {
    &:hover {
      .bdt-flip-box__front {
        -webkit-transform: rotateX(0) rotateY(-180deg);
        transform: rotateX(0) rotateY(-180deg);
      }
    }
  }
}
.bdt-flip-box--effect-flip.bdt-flip-box--direction-up {
  .bdt-flip-box__back {
    -webkit-transform: rotateX(-180deg) rotateY(0);
    transform: rotateX(-180deg) rotateY(0);
  }
  .bdt-flip-box {
    &:hover {
      .bdt-flip-box__front {
        -webkit-transform: rotateX(180deg) rotateY(0);
        transform: rotateX(180deg) rotateY(0);
      }
    }
  }
}
.bdt-flip-box--effect-flip.bdt-flip-box--direction-down {
  .bdt-flip-box__back {
    -webkit-transform: rotateX(180deg) rotateY(0);
    transform: rotateX(180deg) rotateY(0);
  }
  .bdt-flip-box {
    &:hover {
      .bdt-flip-box__front {
        -webkit-transform: rotateX(-180deg) rotateY(0);
        transform: rotateX(-180deg) rotateY(0);
      }
    }
  }
}
.bdt-flip-box--effect-push {
  .bdt-flip-box__front {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .bdt-flip-box {
    overflow: hidden;
    &:hover {
      .bdt-flip-box__back {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }
  }
}
.bdt-flip-box--effect-push.bdt-flip-box--direction-right {
  .bdt-flip-box {
    &:hover {
      .bdt-flip-box__front {
        -webkit-transform: translateX(100%) translateY(0);
        -ms-transform: translateX(100%) translateY(0);
        transform: translateX(100%) translateY(0);
      }
    }
  }
  .bdt-flip-box__back {
    -webkit-transform: translateX(-100%) translateY(0);
    -ms-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}
.bdt-flip-box--effect-push.bdt-flip-box--direction-left {
  .bdt-flip-box {
    &:hover {
      .bdt-flip-box__front {
        -webkit-transform: translateX(-100%) translateY(0);
        -ms-transform: translateX(-100%) translateY(0);
        transform: translateX(-100%) translateY(0);
      }
    }
  }
  .bdt-flip-box__back {
    -webkit-transform: translateX(100%) translateY(0);
    -ms-transform: translateX(100%) translateY(0);
    transform: translateX(100%) translateY(0);
  }
}
.bdt-flip-box--effect-push.bdt-flip-box--direction-up {
  .bdt-flip-box {
    &:hover {
      .bdt-flip-box__front {
        -webkit-transform: translateX(0) translateY(-100%);
        -ms-transform: translateX(0) translateY(-100%);
        transform: translateX(0) translateY(-100%);
      }
    }
  }
  .bdt-flip-box__back {
    -webkit-transform: translateX(0) translateY(100%);
    -ms-transform: translateX(0) translateY(100%);
    transform: translateX(0) translateY(100%);
  }
}
.bdt-flip-box--effect-push.bdt-flip-box--direction-down {
  .bdt-flip-box {
    &:hover {
      .bdt-flip-box__front {
        -webkit-transform: translateX(0) translateY(100%);
        -ms-transform: translateX(0) translateY(100%);
        transform: translateX(0) translateY(100%);
      }
    }
  }
  .bdt-flip-box__back {
    -webkit-transform: translateX(0) translateY(-100%);
    -ms-transform: translateX(0) translateY(-100%);
    transform: translateX(0) translateY(-100%);
  }
}
.bdt-flip-box--effect-slide {
  .bdt-flip-box {
    overflow: hidden;
    &:hover {
      .bdt-flip-box__back {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }
  }
}
.bdt-flip-box--effect-slide.bdt-flip-box--direction-right {
  .bdt-flip-box__back {
    -webkit-transform: translateX(-100%) translateY(0);
    -ms-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}
.bdt-flip-box--effect-slide.bdt-flip-box--direction-left {
  .bdt-flip-box__back {
    -webkit-transform: translateX(100%) translateY(0);
    -ms-transform: translateX(100%) translateY(0);
    transform: translateX(100%) translateY(0);
  }
}
.bdt-flip-box--effect-slide.bdt-flip-box--direction-up {
  .bdt-flip-box__back {
    -webkit-transform: translateX(0) translateY(100%);
    -ms-transform: translateX(0) translateY(100%);
    transform: translateX(0) translateY(100%);
  }
}
.bdt-flip-box--effect-slide.bdt-flip-box--direction-down {
  .bdt-flip-box__back {
    -webkit-transform: translateX(0) translateY(-100%);
    -ms-transform: translateX(0) translateY(-100%);
    transform: translateX(0) translateY(-100%);
  }
}
.bdt-flip-box--effect-zoom-out {
  .bdt-flip-box {
    .bdt-flip-box__front {
      -webkit-transition: opacity 0.35s, width 0.1ms, -webkit-transform 0.7s;
      transition: opacity 0.35s, width 0.1ms, -webkit-transform 0.7s;
      -o-transition: transform 0.7s, opacity 0.35s, width 0.1ms;
      transition: transform 0.7s, opacity 0.35s, width 0.1ms;
      transition: transform 0.7s, opacity 0.35s, width 0.1ms, -webkit-transform 0.7s;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      z-index: 1;
      width: 100%;
    }
    &:hover {
      .bdt-flip-box__front {
        width: 0;
        opacity: 0;
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transition: opacity 0.7s 0.1s, width 0.1ms 0.7s, -webkit-transform 0.8s;
        transition: opacity 0.7s 0.1s, width 0.1ms 0.7s, -webkit-transform 0.8s;
        -o-transition: transform 0.8s, opacity 0.7s 0.1s, width 0.1ms 0.7s;
        transition: transform 0.8s, opacity 0.7s 0.1s, width 0.1ms 0.7s;
        transition: transform 0.8s, opacity 0.7s 0.1s, width 0.1ms 0.7s, -webkit-transform 0.8s;
      }
    }
  }
}
.bdt-flip-box--effect-zoom-in {
  .bdt-flip-box {
    .bdt-flip-box__back {
      -webkit-transition: opacity 0.5s 0.2s, -webkit-transform 0.7s;
      transition: opacity 0.5s 0.2s, -webkit-transform 0.7s;
      -o-transition: transform 0.7s, opacity 0.5s 0.2s;
      transition: transform 0.7s, opacity 0.5s 0.2s;
      transition: transform 0.7s, opacity 0.5s 0.2s, -webkit-transform 0.7s;
      opacity: 0;
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
    }
    &:hover {
      .bdt-flip-box__back {
        -webkit-transition: opacity 0.5s, -webkit-transform 0.7s;
        transition: opacity 0.5s, -webkit-transform 0.7s;
        -o-transition: transform 0.7s, opacity 0.5s;
        transition: transform 0.7s, opacity 0.5s;
        transition: transform 0.7s, opacity 0.5s, -webkit-transform 0.7s;
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
.bdt-flip-box--effect-fade {
  .bdt-flip-box {
    .bdt-flip-box__back {
      opacity: 0;
    }
    &:hover {
      .bdt-flip-box__back {
        opacity: 1;
      }
    }
  }
}
.elementor-widget-flip-box.bdt-flip-box--flipped {
  .elementor-widget-container {
    .bdt-flip-box__front {
      display: none;
    }
    .bdt-flip-box__back {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1;
    }
  }
}
@media (max-device-width: 1024px) {
  .bdt-flip-box {
    cursor: pointer;
  }
}


.elementor-widget-countdown {
    .bdt-countdown-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; 
    }

    .bdt-countdown-item {
        padding: 30px 0;
        text-align: center;
        background-color: #918187;
        color: #ffffff; 
    }
    .bdt-countdown-digits,
    .bdt-countdown-label {
      line-height: 1;
    }

    .bdt-countdown-digits {
      font-size: 48px;
      font-weight: 700;
    }

    .bdt-countdown-label {
      font-size: 18px;
    }

    &.bdt-countdown--label-block .bdt-countdown-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }

    &.bdt-countdown--label-block .bdt-countdown-digits,
    &.bdt-countdown--label-block .bdt-countdown-label {
      display: block;
    }

    &.bdt-countdown--label-block .bdt-countdown-item {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    &.bdt-countdown--label-inline {
      text-align: center;
    }
    &.bdt-countdown--label-inline .bdt-countdown-item {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

}




/* Slides Widget */
@-webkit-keyframes ken-burns-in {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
        }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
            } }
@keyframes ken-burns-in {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
        }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
            } }

@-webkit-keyframes ken-burns-out {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
            } }

@keyframes ken-burns-out {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
            } }

.elementor-slides .slick-slide-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 10s;
       -o-transition-duration: 10s;
          transition-duration: 10s;
      }
  .elementor-slides .slick-slide-bg.elementor-ken-out {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
        }

.elementor-slides .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  height: 400px;
}
  .elementor-slides .slick-slide:focus {
    outline: 0;
}
  .elementor-slides .slick-slide.slick-active .slick-slide-bg {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
        }
    .elementor-slides .slick-slide.slick-active .slick-slide-bg.elementor-ken-in {
      -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
              transform: scale(1.3);
      -webkit-animation-name: ken-burns-in;
              animation-name: ken-burns-in;
          }
    .elementor-slides .slick-slide.slick-active .slick-slide-bg.elementor-ken-out {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-animation-name: ken-burns-out;
              animation-name: ken-burns-out;
          }

.elementor-slides .slick-slide-inner {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 50px;
}
  .elementor-slides .slick-slide-inner, .elementor-slides .slick-slide-inner:hover {
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
  .elementor-slides .slick-slide-inner .elementor-background-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
  .elementor-slides .slick-slide-inner .elementor-slide-content {
    position: relative;
    z-index: 1;
    width: 100%;
}
  .elementor-slides .slick-slide-inner .elementor-slide-heading {
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
}
  .elementor-slides .slick-slide-inner .elementor-slide-description {
    font-size: 17px;
    line-height: 1.4;
}
  .elementor-slides .slick-slide-inner .elementor-slide-heading:not(:last-child), .elementor-slides .slick-slide-inner .elementor-slide-description:not(:last-child) {
    margin-bottom: 30px;
}
  .elementor-slides .slick-slide-inner .elementor-slide-button {
    border: solid 2px white;
    color: white;
    background: transparent;
}
    .elementor-slides .slick-slide-inner .elementor-slide-button, .elementor-slides .slick-slide-inner .elementor-slide-button:hover {
      background: transparent;
      color: inherit;
      text-decoration: none;
  }

.elementor--v-position-top .slick-slide-inner {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
      }

.elementor--v-position-bottom .slick-slide-inner {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
      }

.elementor--v-position-middle .slick-slide-inner {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
      }

.elementor--h-position-left .slick-slide-inner {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
      }

.elementor--h-position-right .slick-slide-inner {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
      }

.elementor--h-position-center .slick-slide-inner {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
      }

.elementor-slides-wrapper div:not(.slick-slide) > .slick-slide-inner {
  display: none;
}

@media (max-width: 767px) {
  .elementor-slides .slick-slide-inner {
    padding: 30px;
  }
  .elementor-slides .slick-slide-inner .elementor-slide-heading {
    font-size: 23px;
    line-height: 1;
    margin-bottom: 15px;
  }
  .elementor-slides .slick-slide-inner .elementor-slide-description {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .slick-initialized .slick-slide {
    outline: none;
  }
}

.bdt-grid, .bdt-grid-filters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bdt-grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.bdt-grid-item {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0;
}